.question-hdr
  %h5.h5= "Question ##{embeddable.question_index}"
.question-bd
  .question-txt
    != embeddable.prompt
    %div{:id => "image_question_#{embeddable.id}"}
      %img.snapshot_thumbnail{:src => embeddable.annotated_image_url, :width => 200}
      %br
      %div= simple_format h(truncate(embeddable.answer_text, length:140))
      %button.image_question.button.image_snapshot_button.take_snapshot{:type => 'button'}
        %i.icon-camera
        %span.take_snapshot_label
          Take snapshot
      %button.image_question.button.image_snapshot_button.edit_answer{:type => 'button'}
        Edit answer

%div.tmp_svg{:id => "sb_svg_src_#{embeddable.id}" }
%div{:id => "image_question_answer_form_#{embeddable.id}"}
  .image_gallery
    .title
    .instructions
    .answer
    = form_for embeddable, :remote => true, :html => {:'data-type' => 'json'} do |f|

      .image_block
        = f.sketchily :annotation, :id=>"image_question_annotation_for_#{embeddable.id}", :hide_rulers => true, :hide_menu => true, :hide_editor_panel => true, :hide_history_panel => true, :canvas_expansion => 1
        .under_image
          %button.button.image_reset_button{:type =>'button'}
            %i.icon-undo.btn
              Undo
          %button.button.image_delete_button{:type =>'button'}
            %i.icon-warning-sign.btn
              Delete
          %button.image_question.button.image_snapshot_button.retake_snapshot{:type => 'button'}
            %i.icon-camera
            %span.take_snapshot_label
              Replace snapshot
          %button.button.image_done_button{:type => 'button' }
            %i.icon-ok.btn
              Done

      .text_response
        %p.prompt.image_prompt!= embeddable.prompt
        = f.text_area :answer_text, :class => 'live-submit answer', :rows => "2", :placeholder => "Type answer here", :cols => "30"
        = f.hidden_field 'image_url'
        = f.hidden_field 'annotated_image_url'


- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      window.iq = new ImageQuestion(#{embeddable.id});
    });