.authorable_multiple_choice
  .embeddable_tools
    .drag_handle
    = link_to "edit", edit_embeddable_multiple_choice_path(embeddable), :remote => true, :id => "edit-embed-mc-#{embeddable.id}"
    |
    = link_to "remove", page_remove_embeddable_path(page, embeddable), :method => :post, :data => {:confirm => 'Are you sure?'}
    - if embeddable.prompt.blank?
      :javascript
        $("a[id^=edit-embed-mc-#{embeddable.id}]").click()
  .prompt= embeddable.prompt.html_safe unless embeddable.prompt.blank?
  - embeddable.choices.each do |choice|
    - control_name = "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"
    - control_id = "embeddable__#{choice.class.to_s.demodulize.underscore}_#{choice.id}"
    %label{:for => control_id}
      %input{:type => "radio", :name => control_name, :id => control_id, :value => control_id}
      = choice.choice
  %button= "Check Answer"
