.authorable{:id => "embeddable_#{embeddable.id}.#{embeddable.class.to_s}"}
  .embeddable_tools
    .drag_handle
    = link_to "edit", edit_embeddable_multiple_choice_path(embeddable), :remote => true, :id => "edit-embed-mc-#{embeddable.id}"
    |
    - confirm_message = "Are you sure you want to delete this element? You will lose data from #{pluralize(@activity.active_runs, "learner")} that #{"has".pluralize(@activity.active_runs)} answered this question."
    = link_to "remove", page_remove_embeddable_path(page, embeddable), :method => :post, :data => {:confirm => (@activity.active_runs > 0) ? confirm_message : 'Are you sure?'}
    - if params[:edit_embed_mc].to_i == embeddable.id
      :javascript
        $("a[id^=edit-embed-mc-#{embeddable.id}]").click()
  .prompt= embeddable.prompt.html_safe unless embeddable.prompt.blank?
  - if embeddable.show_as_menu
    = select embeddable, :answers, options_from_collection_for_select(embeddable.choices, 'id', 'choice', embeddable.answers.last), { :include_blank => "Pick one" }
  - else
    - embeddable.choices.each do |choice|
      - control_name = "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"
      - control_id = "embeddable__#{choice.class.to_s.demodulize.underscore}_#{choice.id}"
      %label{:for => control_id}
        - if embeddable.multi_answer
          = check_box_tag control_name, choice.id, false, :id => control_id
        - else
          %input{:type => 'radio', :name => control_name, :id => control_id, :value => control_id}
        = choice.choice
  - if embeddable.enable_check_answer
    %button= "Check answer"
