= nested_form_for @embeddable do |f|
  - show_as_menu_id = dom_id_for(@embeddable, :show_as_menu).gsub('/','__')
  = f.error_messages
  = f.label 'Heading'
  = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5, :class => 'wysiwyg-minimal'
  = field_set_tag 'Hint' do
    = f.text_area :hint, :rows => 5, :class => 'wysiwyg-minimal'
    .help
      If this is provided, the user will be able to see expandable hint next to the question title.
  = field_set_tag 'Layout',:id => "embeddable_layout_options" do
    .options
      %ul
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_VERTICAL
          Vertical
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_HORIZONTAL
          Horizontal
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_LIKERT
          Likert

  = field_set_tag 'Options' do
    .options
      %ul
        %li
          = f.check_box :multi_answer
          Allow multiple answers
        %li
          = f.check_box :show_as_menu, {:id => show_as_menu_id }
          Show as drop-down menu
        %li
          = f.check_box :custom, :id => "embeddable_multiple_choice_custom"
          Custom Feedback
        %li
          = f.check_box :enable_check_answer
          = t(:LET_USERS_CHECK_MC_ANSWERS)
        = render :partial => 'shared/edit_prediction', :locals => { :f => f }
        = render :partial => 'shared/edit_featured', :locals => { :f => f }
        = render :partial => 'shared/edit_full_width', :locals => { :f => f }

  = field_set_tag 'Choices' do
    %ul.choices
      - @embeddable.choices.each do |choice|
        = f.fields_for :choices, choice do |choice_form|
          %li
            Choice:
            = choice_form.text_field :choice
            Correct:
            = choice_form.check_box :is_correct
            - active_runs = @embeddable && @embeddable.activity ? @embeddable.activity.active_runs : 0
            - confirm_message = "Are you sure you want to delete this element? You will lose data from #{pluralize(active_runs, "learner")} that #{"has".pluralize(active_runs)} answered this question."
            = choice_form.link_to_remove "Delete", :data => (active_runs > 0) ? {:confirm => confirm_message} : nil
          %li.custom-hidden{ :style => @embeddable.custom ? '' : 'display: none;' }
            Message:
            = choice_form.text_field :prompt
    = f.link_to_add "Add choice", :choices
    :javascript
      $(function() {
          $(".wysiwyg, .wysiwyg-minimal").each(function (index) {
            initSlateEditor($(this), $(this).text(), index, {useAjax: false});
          });

          var $radios = $('#embeddable_layout_options input'),
              $showAsMenu = $('##{show_as_menu_id}');

          function updateRadios() {
            if($showAsMenu.is(':checked')){
              $radios.attr('disabled',true);
            }else{
              $radios.removeAttr('disabled');
            }
          }

          $showAsMenu.click(updateRadios);

          updateRadios();
      });
  .submit-container
    = f.submit "Cancel", :class => 'close'
    = f.submit "Save", :class => 'embeddable-save'
