= form_for @embeddable do |f|
  = f.error_messages
  = field_set_tag 'Name' do
    = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5
    :javascript
      $(function() {
          $('#embeddable_multiple_choice_prompt').wysiwyg({"controls": { "html": { "visible": true } } });
      });
  = field_set_tag 'Choices' do
    = link_to "Add choice", add_choice_embeddable_multiple_choice_path(@embeddable), :method => 'post', :remote => true
    .choices
      %ul
        - @embeddable.choices.each do |choice|
          %li
            Choice:
            %input{:type => "text", :id => "choice_#{choice.id}", :value => choice.choice}
            Correct:
            %input{:type => "checkbox"}
            = link_to "Delete", remove_choice_embeddable_multiple_choice_path(@embeddable, choice), :method => 'delete', :remote => true
  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
