= nested_form_for @embeddable do |f|
  - show_as_menu_id = dom_id_for(@embeddable, :show_as_menu).gsub('/','__')
  = f.error_messages
  = f.label 'Heading'
  = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5, :class => 'wysiwyg'
  = field_set_tag 'Layout',:id => "embeddable_layout_options" do
    .options
      %ul
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_VERTICAL
          Vertical
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_HORIZONTAL
          Horizontal
        %li
          = f.radio_button :layout, Embeddable::MultipleChoice::LAYOUT_LIKERT
          Likert

  = field_set_tag 'Options' do
    .options
      %ul
        %li
          = f.check_box :multi_answer
          Allow multiple answers
        %li
          = f.check_box :show_as_menu, {:id => show_as_menu_id }
          Show as drop-down menu
        %li
          = f.check_box :custom, :id => "embeddable_multiple_choice_custom"
          Custom Feedback
        %li
          = f.check_box :enable_check_answer
          = t(:LET_USERS_CHECK_MC_ANSWERS)
        = render :partial => 'shared/edit_prediction', :locals => { :f => f }

  = field_set_tag 'Choices' do
    %ul.choices
      - @embeddable.choices.each do |choice|
        = f.fields_for :choices, choice do |choice_form|
          %li
            Choice:
            = choice_form.text_field :choice
            Correct:
            = choice_form.check_box :is_correct
            - confirm_message = "Are you sure you want to delete this element? You will lose data from #{pluralize(@embeddable.activity.active_runs, "learner")} that #{"has".pluralize(@embeddable.activity.active_runs)} answered this question."
            = choice_form.link_to_remove "Delete", :data => (@embeddable.activity.active_runs > 0) ? {:confirm => confirm_message} : nil
          %li.custom-hidden{ :style => @embeddable.custom ? '' : 'display: none;' }
            Message:
            = choice_form.text_field :prompt
    = f.link_to_add "Add choice", :choices
    :javascript
      $(function() {
          $('.wysiwyg').wysiwyg({"controls": { "html": { "visible": true }, "h1": { "visible": false }, "h2": { "visible": false }, "h3": { "visible": false } } });

          var $radios = $('#embeddable_layout_options input'),
              show_as_menu = $('##{show_as_menu_id}');

          function toggle_$radios(element) {
            if($(element).is(':checked')){
              $radios.attr('disabled',true);
            }else{
              $radios.removeAttr('disabled');
            }
          }

          show_as_menu.click(function() {
            toggle_$radios(this);
          });

          toggle_$radios(show_as_menu);
      });

  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
