%div.choice{:style => (embeddable.layout == Embeddable::MultipleChoice::LAYOUT_HORIZONTAL ? "display: inline-block; margin-right: 10px;" : "") }
  - is_likert_style = embeddable.layout == Embeddable::MultipleChoice::LAYOUT_LIKERT
  - if is_likert_style
    = choice.choice
    %br
  - if embeddable.multi_answer
    = check_box_tag 'embeddable_multiple_choice_answer[answers][]', choice.id, embeddable.answers.include?(choice), :id => "embeddable_multiple_choice_answer_answers_#{choice.id}", :data => {:button_id => check_button_string}
  - else
    = form.radio_button :answers, choice.id, :data => {:button_id => check_button_string}, :checked => (embeddable.answers.include?(choice))
  - if !is_likert_style
    = choice.choice