= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :name do
  External Scripts
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Approved Plugins", approved_scripts_path

.action_menu#activity-actions
  .action_menu_header
    .action_menu_header_left
    .action_menu_header_right.index
      %ul#new-menu
        - if can? :create, ApprovedScript
          %li#add= link_to 'create new approved_script', new_approved_script_path

#official_listing_heading
  %h1 Approved Plugins
%ul.quiet_list.official_listing
  - @approved_scripts.each do |approved_script|
    %li{ :id => dom_id_for(approved_script, :item), :class => 'item' }
      %div.action_menu
        %div.action_menu_header_left
          = link_to "#{approved_script.label} (##{approved_script.id})", edit_approved_script_path(approved_script), :class => 'container_link'
        %div.action_menu_header_right.themes
          %ul.menu
            %li.edit= link_to "Edit", edit_approved_script_path(approved_script) if can? :update, approved_script
            %li.delete= link_to 'Delete', approved_script_path(approved_script), method: :delete, data: { confirm: 'Are you sure?' } if can? :update, approved_script
      %div.tiny
        links to
        = link_to approved_script.url, approved_script.url
