%h1{style: "font-size: 1.5em; font-weight: bold; margin-bottom: 1em;"}
  = @embeddable.name

= form_for @embeddable do |f|
  = f.error_messages
  %div{style: "display: grid; grid-template-columns: 100px auto;grid-row-gap: 2em;"}
    %div
      = f.label "Wrapped Embeddable:"
    %div
      = f.select :embeddable_select_value, @embeddable.embeddables_for_select, {}, class: :select_embeddable
    %div
      = f.label "Author Data:"
    %div
      = f.text_area :author_data, {id:'jsonConfigText'}
    %div
    %div
      = render :partial => 'shared/edit_full_width', :locals => { :f => f }
  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
