.sequence_form
  = form_for(@glossary) do |f|
    - if @glossary.errors.any?
      #error_explanation
        %h2
          = pluralize(@glossary.errors.count, "error")
          prohibited this glossary from being saved:
        %ul
          - @glossary.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name, autofocus: true
    .field
      = f.label :project_id, 'Project'
      = f.select :project_id, options_from_collection_for_select(Project.visible_to_user(current_user), 'id', 'title', @glossary.project_id), { :include_blank => true }
    %footer
      .submit
        = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
