- firebase_jwt_url = api_v1_get_firebase_jwt_url({firebase_app: '_FIREBASE_APP_'})
= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "#{@can_edit ? "Edit" : "View"} #{@glossary.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Glossaries', glossaries_path
      %li= "/ #{@can_edit ? "Edit" : "View"} #{@glossary.name}"

#glossary_authoring_form

:javascript
  $(document).ready(function() {
    // signal the plugin to use the new glossary model authoring
    LARA.GlossaryModelAuthoring = {
      apiUrl: #{api_v1_glossary_url(@glossary).to_json},
      containerId: "glossary_authoring_form",
      initialData: {
        id: #{@glossary.id.to_json},
        name: #{@glossary.name.to_json},
        json: #{@glossary.export_json_only.to_json},
        canEdit: #{@can_edit}
      },
      getFirebaseJwtUrl: function (appName) {
        return '#{escape_javascript(firebase_jwt_url)}'.replace("_FIREBASE_APP_", appName)
      }
    }
    var glossaryPluginUrl = "#{@approved_glossary_script ? @approved_glossary_script.url : ""}"
    var container = document.getElementById(LARA.GlossaryModelAuthoring.containerId)

    if (glossaryPluginUrl.length > 0) {
      var loadingMessage = "" // loading message is empty to avoid flash of content before plugin renders
      container.innerHTML = loadingMessage

      // this avoids a console.error for existing glossary plugins - it is unused in the actual authoring plugin
      LARA.Plugins.setNextPluginLabel("glossary-model-authoring");

      var scriptElement = document.createElement("script");
      scriptElement.src = glossaryPluginUrl;
      document.body.appendChild(scriptElement);

      setTimeout(function() {
        if (container.innerHTML === loadingMessage) {
          container.innerHTML = "The glossary authoring plugin did not load. Please contact the system administrator.";
        }
      }, 5000);
    } else {
      container.innerHTML = "No approved glossary script found.  Please contact the system administrator."
    }
  });