= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Glossaries
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Glossaries

%ul#new-menu
  %li#collection_filter= collection_filter_tag @filter
.buttons-menu
  - if can? :create, Glossary
    %a{ :href => new_glossary_path }
      %button=t("NEW_GLOSSARY_BUTTON")
  - if can? :import, [LightweightActivity, Sequence, Glossary]
    %a{ :href => import_status_path, 'data-remote'=>"true" }
      %button=t("IMPORT")

#official_listing_heading.pagination_heading
  %h1 Glossaries
  = page_entries_info @glossaries, :model => "Glossaries"
  = t(:COLLECTION_SORT_ORDER)
  .pagination_info
    = will_paginate @glossaries
  %ul.quiet_list.official_listing
    - @glossaries.each do |glossary|
      = render :partial => "index_item", :locals => {:glossary => glossary}
  .pagination_info
    = will_paginate @glossaries
