= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  New Glossary
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li 
        \/
        = link_to 'All Glossaries', glossaries_path
      %li / New Glossary

%h1.title New Glossary

=render :partial => 'form'
