- image_title = "#{interactive.caption} #{interactive.credit}"
- if interactive.show_lightbox
  %a{ :href => interactive.url,
      :title => image_title,
      :class => 'colorbox'}
    = render :partial => 'image_interactives/image', :locals => { :interactive => interactive }
- else
  = render :partial => 'image_interactives/image', :locals => { :interactive => interactive }
.under-image
  - if interactive.show_lightbox
    .fullscreen.screen-only
      = link_to image_tag('icons/zoom-in.svg', :alt => 'Show at full size'), interactive.url, {:title => image_title, :class => 'colorbox'}
  - unless interactive.caption.blank?
    .caption
      = interactive.caption
  - unless interactive.credit.blank?
    .credit
      = interactive.credit_with_link
%br
%br
