- form_url = image_interactive_path(@interactive)
= form_for @interactive, :url => form_url do |f|
  = f.error_messages
  =# f.hidden_field 'investigation_id', :value =>@activity.investigation.id # LightweightActivities currently don't belong_to Investigations
  = field_set_tag 'URL' do
    = f.text_field :url
  = f.check_box :show_lightbox
  Allow image to be shown in lightbox?
  = render :partial => 'shared/edit_full_width', :locals => { :f => f }
  = field_set_tag 'Caption' do
    = f.text_area :caption
  = field_set_tag 'Credit' do
    = f.text_area :credit
  = field_set_tag 'Credit Link' do
    = f.text_field :credit_url
  .submit-container
    = f.button "Cancel", :class => 'close', :type => 'button'
    = f.submit "Save", :class => 'embeddable-save', :default => 'default'
