%h1.title
  Edit activity
  %span.preview
    = link_to "Preview", preview_activity_path(@activity), :target => 'new'
  - if current_user.is_admin
    %span.preview
      = link_to "Edit in Standard Mode", "#{edit_activity_path(@activity)}?mode=standard"
    %span.preview
      = link_to "Edit in ITSI Mode", "#{edit_activity_path(@activity)}?mode=itsi"

- if show_publication_details
  = render :partial => "publications/publication_details", :locals =>{ :publication => @activity}
- if @activity.active_runs > 0
  %p.active-runs
    = "This activity has been used by #{pluralize(@activity.active_runs, "learner")}. Editing may cause problems with results data. If you make changes, please publish this activity and any associated sequences as soon as possible."
