%nav.activity-nav
  .nav-pages
    %button{ :id => "page-nav-previous", :class => "page-button disabled" }
      = svg_icon(asset_path "/assets/images/icons/page-nav/previous.svg")
    %button{ :id => "page-nav-home", :class => "page-button current", :onclick => "window.location='#{edit_activity_path(@activity)}'" }
      = svg_icon(asset_path "/assets/images/icons/page-nav/home.svg")
    - @activity.pages.each do |p|
      - special_class = p.is_hidden ? 'hidden-page-button' : ''
      - special_class = p.is_completion ? 'completion-page-button' : ''
      %button{ :id => dom_id_for(p, :item), :class => "page-button #{special_class}", :onclick => "window.location='#{edit_activity_page_path(@activity, p)}'" }
        - if p.is_hidden
          = svg_icon(asset_path "/assets/images/icons/page-nav/hidden.svg")
        - elsif p.is_completion
          = svg_icon(asset_path "/assets/images/icons/page-nav/completion.svg")
        - else
          = p.page_number
    %button{ :id => "page-nav-next", :class => "page-button #{@activity.pages.count <= 0 ? 'disabled' : ''}", :onclick => "#{@activity.pages.count <= 0 ? '#' : 'window.location=\'' + edit_activity_page_path(@activity, @activity.pages[0]) + '\''}" }
      = svg_icon(asset_path "/assets/images/icons/page-nav/next.svg")
    %button{ :id => "page-nav-add", :class => "page-button", :onclick => "window.location='#{new_activity_page_path(@activity)}'" }
      = svg_icon(asset_path "/assets/images/icons/page-nav/add.svg")
    %button{ :id => "page-nav-copy", :class => "page-button disabled" }
      = svg_icon(asset_path "/assets/images/icons/page-nav/copy.svg")
%header.edit-form-header{ "data-testid" => "edit-form-header" }
  %h1{ "data-testid" => "edit-activity-title" } Edit Activity#{ @activity.name != "" ? ": " + @activity.name : "" }
    #preview-menu{ "data-testid" => "preview-menu" }
      %label{for: "preview-options-select", "data-testid" => "preview-options-label"}
        %strong
          Preview in:
      = select_tag :preview_options_select, options_for_select(activity_preview_options(@activity)), {id: 'preview-options-select', "data-testid" => "preview-options-select"}

.edit-form-options{ "data-testid" => "edit-form-options" }
  - if current_user.is_admin
    = link_to "Edit in Standard Mode", "#{edit_activity_path(@activity)}?mode=standard", "data-testid" => "edit-standard-mode-link"
  - if (can? :export, @activity) && ENV['CONVERSION_SCRIPT_URL'].present?
    = link_to "Convert", activity_player_conversion_url(@activity), :target => 'new', "data-testid" => "convert-link"

- if show_publication_details
  = render :partial => "publications/publication_details", :locals =>{ :publication => @activity}
- if @activity.active_runs > 0
  %p.active-runs
    = "This activity has been used by #{pluralize(@activity.active_runs, "learner")}. Editing may cause problems with results data."


:javascript
  $(document).ready(function() {
    var params = { host: window.location.origin };
    var container = $("#preview-menu")[0];
    LARA.SectionAuthoring.renderPreviewLinks(
      container,
      { previewLinks: #{activity_preview_options(@activity).to_json.html_safe}
    });
  });