%h1.title
  %span.title
    Edit activity
  - if current_user.is_admin
    %span.edit-in
      = link_to "Edit in Standard Mode", "#{edit_activity_path(@activity)}?mode=standard"
    %span.edit-in
      = link_to "Edit in ITSI Mode", "#{edit_activity_path(@activity)}?mode=itsi"
  - if ENV['CONVERSION_SCRIPT_URL'].present?
    %span.convert
      = link_to "Convert", activity_player_conversion_url(@activity), :target => 'new'
  #preview-menu
    %label{for: "preview-options-select"}
      Preview in:
    = select_tag :preview_options_select, options_for_select(activity_preview_options(@activity)), {id: 'preview-options-select'}

- if show_publication_details
  = render :partial => "publications/publication_details", :locals =>{ :publication => @activity}
- if @activity.active_runs > 0
  %p.active-runs
    = "This activity has been used by #{pluralize(@activity.active_runs, "learner")}. Editing may cause problems with results data."
