%h1.title
  %span.title
    Edit activity
  %span.preview
    = link_to "Preview", preview_activity_path(@activity), :target => 'new'
  %span.preview
    = link_to "Preview Teacher Edition", preview_activity_path(@activity, mode: "teacher-edition"), :target => 'new'
  - if ENV['ACTIVITY_PLAYER_URL'].present?
    %span.preview
      = link_to "Preview in Activity Player", activity_player_path(@activity), :target => 'new'
  - if current_user.is_admin
    %span.edit-in
      = link_to "Edit in Standard Mode", "#{edit_activity_path(@activity)}?mode=standard"
    %span.edit-in
      = link_to "Edit in ITSI Mode", "#{edit_activity_path(@activity)}?mode=itsi"

- if show_publication_details
  = render :partial => "publications/publication_details", :locals =>{ :publication => @activity}
- if @activity.active_runs > 0
  %p.active-runs
    = "This activity has been used by #{pluralize(@activity.active_runs, "learner")}. Editing may cause problems with results data."
