
- item_class = activity.is_official ? 'item official' : 'item community'
%li{ :id => dom_id_for(activity, :item), :class => item_class }
  %div.action_menu
    %div.action_menu_header_left
      = activity.id.to_s + '.'
      = link_to activity.name, activity_path(activity), :class => 'container_link', :title => 'Preview Activity'
    %div.action_menu_header_right
      %ul.menu
        %li.export= link_to('Export', show_status_activity_path(activity), :remote => true) if can? :export, activity
        %li.convert= link_to('Convert', activity_player_conversion_url(activity), target: :_blank) if can? :export, activity
        %li.copy= link_to "Copy", duplicate_activity_path(activity) if can? :duplicate, activity
        %li.edit= link_to "Edit", edit_activity_path(activity) if can? :edit, activity
        - confirm_message = "Are you sure you want to delete this activity? You will lose data from #{pluralize(activity.active_runs, "learner")} that #{"has".pluralize(activity.active_runs)} attempted this activity."
        %li.delete= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: (activity.active_runs > 0) ? confirm_message : 'Are you sure?' } if can? :destroy, activity
        %li.publish= link_to('Publish', publication_show_status_path(activity.class,activity.id), :remote => true) if can? :publish, activity
        - if can? :read, activity
          %li.print
            = link_to "print", print_blank_activity_path(activity), :target => 'new'
          %li.run= link_to "Run", activity_path(activity), :target => 'new'

  %div{:id => dom_id_for(activity, :details), :class => 'tiny'}
    - if (activity.active_runs > 0) && (can? :edit, activity)
      %p.active-runs
        = "Has been used by #{pluralize(activity.active_runs, "learner")}."
    - if activity.user && activity.user.email.present?
      %p.author
        = "by #{activity.user.email}"
    %p.updated
      = "last updated at #{activity.updated_at.to_formatted_s(:long)}"
      - if (can? :create, LightweightActivity) && activity.changed_by.present?
        = "by #{activity.changed_by.email}"
    - if activity.portal_publications.length > 0
      %p.published
        = "last published at #{activity.portal_publications.last.updated_at.to_formatted_s(:long)} to #{activity.portal_publications.last.portal_domain}"
    != activity.description
