= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@activity.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li= "/ #{@activity.name}".html_safe

= render :partial => "edit_header", locals: {show_publication_details: true}

#leftcol
  .sequence_form
    = form_for @activity, {:url => "/activities/#{@activity.id}", :method => 'put'} do |f|
      = f.error_messages
      %header
        %h2 Activity Settings
        .submit
          = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
      = render :partial => 'form', :locals => {f: f}
      %footer
        .submit
          = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
#rightcol
  #menu
    #pages
      %h2 Activity Pages
      %ul.sortable-list#sort-pages
        - @activity.pages.each.with_index(1) do |p, index|
          %li{ :id => dom_id_for(p, :item), :class => 'item' }
            #{index}.
            -if p.is_completion
              %i.fa.fa-flag-checkered
            = truncate(p.name, :length => 23, :omission => "…")
            %ul.menu
              %li.edit= link_to "Edit", edit_activity_page_path(@activity, p)
              %li.run= link_to "Preview", activity_preview_url(@activity, p), :target => 'new'
              - confirm_message = "Are you sure you want to delete this page from the activity? You will lose data from #{pluralize(@activity.active_runs, "learner")} that #{"has".pluralize(@activity.active_runs)} attempted this activity."
              %li.delete= link_to "Delete", activity_page_path(@activity, p), method: :delete, data: { confirm: (@activity.active_runs > 0) ? confirm_message : 'Are you sure?' }
              %li.drag_handle
                &nbsp;
        %li#add= link_to "Add Page", new_activity_page_path(@activity), :class => "btn-primary"

= render :partial => 'enable_disable_runtime_fields'
