= content_for :title do
  = "Edit #{@activity.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to 'All Activities', activities_path
      %li= "/ #{@activity.name}".html_safe

%h1.title Edit activity
#leftcol
  = form_for @activity, {:url => "/activities/#{@activity.id}", :method => 'put'} do |f|
    = f.error_messages
    .submit
      = f.submit "Save", :id => 'save-top'
    = field_set_tag 'Activity Name' do
      = f.text_field :name, :maxlength => 50
    - if current_user.is_admin
      = field_set_tag "Official CC Activity" do
        = f.check_box :is_official
      = field_set_tag "Is this activity locked?" do
        = f.check_box :is_locked
        ("Locked" activities may only be copied or edited by admin users, not regular authors.)
    = field_set_tag 'Publication status' do
      = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES, @activity.publication_status)
    = field_set_tag 'Activity Description' do
      = editable_field @activity, :description, { :use_trigger => true, :edit_string => 'Edit', :update_url => activity_path(@activity), :type => 'wysiwyg', :rows => 5, :cols => 55, :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :wysiwyg => { :controls => { :html => { :visible => true }, :h1 => { :visible => false }, :h2 => { :visible => false }, :h3 => { :visible => false } }, :css => '/assets/application.css', :rmUnwantedBr => true } }
    = field_set_tag 'Related Content' do
      = editable_field @activity, :related, { :use_trigger => true, :edit_string => 'Edit', :update_url => activity_path(@activity), :type => 'wysiwyg', :rows => 5, :cols => 55, :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :wysiwyg => { :controls => { :html => { :visible => true }, :h1 => { :visible => false }, :h2 => { :visible => false }, :h3 => { :visible => false } }, :css => '/assets/application.css', :rmUnwantedBr => true } }
    = field_set_tag 'Estimated time to complete, in minutes' do
      = f.text_field :time_to_complete
    = field_set_tag 'Notes' do
      The notes area is for storing information for other authors, e.g. source material or usage restrictions, and is not intended to be displayed in the runtime.
      = f.text_area :notes
    .submit
      = f.submit "Save", :id => 'save-top'
#rightcol
  #menu
    #pages
      %h2 Activity Pages
      %ul#sort-pages
        - @activity.pages.each do |p|
          %li{ :id => dom_id_for(p, :item), :class => 'item' }
            = truncate(p.name, :length => 18, :omission => "…")
            %ul.menu
              %li.edit= link_to "Edit", edit_activity_page_path(@activity, p)
              %li.run= link_to "Show", activity_page_path(@activity, p), :target => 'new'
              %li.delete= link_to "Delete", activity_page_path(@activity, p), method: :delete, data: { confirm: 'Are you sure?' }
              %li.drag_handle
                &nbsp;
        %li#add= link_to "Add Page", new_activity_page_path(@activity)
