= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@activity.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li= "/ #{@activity.name}".html_safe

= render :partial => "edit_header", locals: {show_publication_details: true}

#leftcol
  .sequence_form
    = form_for @activity, {:url => "/activities/#{@activity.id}", :method => 'put'} do |f|
      = f.error_messages
      .submit
        = f.submit "Save", :id => 'save-top'
      .field
        = f.label :name, 'Activity Name'
        = f.text_field :name, :size => 80
      .field
        = f.label :theme_id, 'Theme'
        = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @activity.theme_id), { :include_blank => "None (inherit from sequence, project, or site default)" }
      - if current_user.is_admin
        .field
          = f.label :project_id, 'Project'
          = f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'title', @activity.project_id), { :include_blank => true }
        .field
          = f.label :is_official,  "Official CC Activity"
          = f.check_box :is_official
        .field
          = f.label :is_locked, "Is this activity locked?"
          = f.check_box :is_locked
          .hint ("Locked" activities may only be copied or edited by admin users, not regular authors.)
      .field
        = f.label :publication_status, 'Publication status'
        = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES_OPTIONS, @activity.publication_status)
      .field
        = f.label :activity_player_only, "Activity Player only?"
        = f.check_box :activity_player_only
        .hint (If this box is checked, the activity will run in the Activity Player by default.)
      .field
        = f.label :description, 'Text for index page'
        = f.text_area :description, :class => 'wysiwyg'
      .field
        = f.label :related, 'Related Content'
        = f.text_area :related, :class => 'wysiwyg'
      .field
        = f.label :time_to_complete,  'Estimated time to complete, in minutes'
        = f.text_field :time_to_complete
      .field
        = f.label :thumbnail_url, "Thumbnail URL"
        = f.text_field :thumbnail_url, :class=>"thumbnail_source"
        %br
        .thumbnail_info.hint
          Your thumbnail image should be 300px x 250px
          %a#toggle_thumbnail_preview
            [preview]
          .activity_thumbnail#thumbnail_preview
            %img
      .field
        = f.label :student_report_enabled, t("STUDENT_REPORT_ENABLED")
        = f.check_box :student_report_enabled
        %br
          .hint
            Show a link to the student so they can see all their answers and see if they are correct
      .field
        = f.label :layout, "Activity layout"
        = f.select :layout, options_for_select(LightweightActivity::LAYOUT_OPTIONS, @activity.layout)
      .field{:class => ("disabled" unless @activity.layout == 1)}
        = f.label :show_submit_button, 'Show Submit Button'
        = f.check_box :show_submit_button, :disabled => (@activity.layout != 1 ? true : false)
        %br
          .hint
            Show a submit button at the bottom of a
            %em
              single page
            activity. (This button won't do anything except help assure people their work has been saved -- which happens automatically.)
      - if current_user.is_admin
        .field
          = f.label :editor_mode, "Authoring Mode"
          = f.select :editor_mode, options_for_select(LightweightActivity::EDITOR_MODE_OPTIONS, @activity.editor_mode)
      .field
        = f.label :editor_mode, "Copied From"
        - if @activity.copied_from_activity
          = link_to @activity.copied_from_activity.name, edit_activity_path(@activity.copied_from_activity)
        - else
          This activity was not copied from another activity
      .field
        = f.label :notes,  'Notes'
        .hint The notes area is for storing information for other authors, e.g. source material or usage restrictions, and is not intended to be displayed in the runtime.
        %br
        = f.text_area :notes
      .submit
        = f.submit "Save", :id => 'save-top'
#rightcol
  #menu
    #pages
      %h2 Activity Pages
      %ul.sortable-list#sort-pages
        - @activity.pages.each do |p|
          %li{ :id => dom_id_for(p, :item), :class => 'item' }
            -if p.is_completion
              %i.fa.fa-flag-checkered
            = truncate(p.name, :length => 18, :omission => "…")
            %ul.menu
              %li.edit= link_to "Edit", edit_activity_page_path(@activity, p)
              %li.run= link_to "Preview", preview_activity_page_path(@activity, p), :target => 'new'
              - confirm_message = "Are you sure you want to delete this page from the activity? You will lose data from #{pluralize(@activity.active_runs, "learner")} that #{"has".pluralize(@activity.active_runs)} attempted this activity."
              %li.delete= link_to "Delete", activity_page_path(@activity, p), method: :delete, data: { confirm: (@activity.active_runs > 0) ? confirm_message : 'Are you sure?' }
              %li.drag_handle
                &nbsp;
        %li#add= link_to "Add Page", new_activity_page_path(@activity)
    #plugins
      =render partial: 'plugins/list', locals: {activity: @activity}

:javascript
  $(function() {
    // toggle access to submit button for single page layouts
    $('#lightweight_activity_layout').on('change', function() {
      var $this = $(this);
      var selected = $this.find('option:selected').val();
      console.log(selected);
      if (selected === '1') {
        $('#lightweight_activity_show_submit_button').removeAttr('disabled').parent().removeClass('disabled');
      } else {
        $('#lightweight_activity_show_submit_button').attr('disabled', true).parent().addClass('disabled');
      }
    })
  });
