%h1 Edit activity
= form_for @activity, {:url => "/activities/#{@activity.id}", :method => 'put'} do |f|
  = f.error_messages
  = edit_menu_for(@activity, f)
  =# f.hidden_field 'investigation_id', :value =>@activity.investigation.id # LightweightActivities currently don't belong_to Investigations
  - if defined?(session[:user_id])
    = f.hidden_field 'user_id', :value => session[:user_id]
  = field_set_tag 'Activity Name' do
    = f.text_field :name
  = field_set_tag 'Publication status' do
    = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES, @activity.publication_status)
  = field_set_tag 'Activity Description' do
    = editable_field @activity, :description, { :use_trigger => true, :edit_string => 'Edit', :update_url => activity_path(@activity), :type => 'wysiwyg', :rows => 5, :cols => 80, :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :wysiwyg => { :controls => { :html => { :visible => true } } } }
  = field_set_tag 'Related Content' do
    = editable_field @activity, :related, { :use_trigger => true, :edit_string => 'Edit', :update_url => activity_path(@activity), :type => 'wysiwyg', :rows => 5, :cols => 80, :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :wysiwyg => { :controls => { :html => { :visible => true } } } }
= javascript_tag("focus_first_field();");
%ul
  %li= link_to "Add pages to this activity", new_activity_page_path(@activity)
  - if @activity.pages.length > 0
    %li
      Edit pages:
      %ul
        - @activity.pages.each do |p|
          %li{ :id => dom_id_for(p, :item), :class => 'item' }
            %div.action_menu
              %div.action_menu_header_left
                = link_to p.name, edit_activity_page_path(@activity, p)
              %div.action_menu_header_right
                %ul.menu
                  %li= link_to "Edit", edit_activity_page_path(@activity, p)
                  %li= link_to "Show", activity_page_path(@activity, p), :target => 'new'
                  %li= link_to "Delete", activity_page_path(@activity, p), method: :delete, data: { confirm: 'Are you sure?' }

  %li= link_to "All activities", activities_path