= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@activity.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li= "/ #{@activity.name}".html_safe

= render :partial => "edit_header", locals: {show_publication_details: true}

#leftcol
  .sequence_form
    = form_for @activity, {:url => "/activities/#{@activity.id}", :method => 'put'} do |f|
      = f.error_messages
      %header
        %h2 Activity Settings
        .submit
          = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
      .field
        = f.label :name, 'Activity Name'
        = f.text_field :name, :size => 80
      - if current_user.is_admin
        .field
          = f.check_box :defunct
          = f.label :defunct,  "Defunct"
          .hint Check this box if the activity uses features not supported by Activity Player.
      .field
        = f.check_box :hide_read_aloud
        = f.label :hide_read_aloud,  "Hide Read-Aloud Toggle"
        .hint Check this box if you do not want the "Tap text to listen" toggle to appear on this activity.
      .field{:class => ("disabled" if @activity.runtime != 'LARA')}
        = f.label :theme_id, 'Theme'
        = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @activity.theme_id), { :include_blank => "None (inherit from sequence, project, or site default)" }
      .field
        = f.label :glossary_id, 'Glossary'
        = f.select :glossary_id, glossary_options_for_select(@activity, current_user), { :include_blank => "None" }
        %button#view_edit_glossary{style: "margin-top: 0; margin-left: 20px;"} View or Edit
        .hint
          Select a glossary from the list to add to this activity. If you do not wish to associate a glossary with this activity, select "None."
      .field{:class => ("disabled")}
        = f.label :runtime, "Runtime Environment"
        = f.select :runtime, options_for_select(LightweightActivity::RUNTIME_OPTIONS, selected:'Activity Player', disabled: 'LARA'), :disabled => true
        .hint
          Runtime selection is no longer applicable. This setting will be removed in a future release.
      .field{:class => ("disabled" if @activity.runtime != 'Activity Player')}
        = f.label :fixed_width_layout, 'Activity Player Fixed Width Layout'
        = f.select :fixed_width_layout, options_for_select(LightweightActivity::FIXED_WIDTH_LAYOUT_OPTIONS, @activity.fixed_width_layout)
      .field{:class => ("disabled" if @activity.runtime != 'Activity Player')}
        = f.label :background_image, 'Activity Player Background Image URL'
        = f.text_field :background_image
        .hint Specify the full URL of a background image file.
      .field{:class => ("disabled" if @activity.runtime != 'LARA')}
        = f.label :theme_id, 'LARA Theme'
        = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @activity.theme_id), { :include_blank => "None (inherit from sequence, project, or site default)" }
      - if current_user.is_admin
        .field
          = f.label :project_id, 'Project'
          = f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'title', @activity.project_id), { :include_blank => true }
        .field
          = f.check_box :is_official
          = f.label :is_official,  "Official CC Activity"
          .hint Official activities appear in the STEM Resource Finder and should be vetted before being designated as such.
        .field
          = f.check_box :is_locked
          = f.label :is_locked, "Activity Locked"
          .hint "Locked" activities may only be copied or edited by admin users, not regular authors.
      .field
        = f.label :publication_status, 'Publication Status'
        = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES_OPTIONS, @activity.publication_status)
      .field
        = f.label :description, 'Index Page Text'
        = f.text_area :description, :class => 'wysiwyg'
      .field
        = f.label :thumbnail_url, "Preview Image URL"
        = f.text_field :thumbnail_url, :class=>"thumbnail_source"
        .thumbnail_info.hint
          Preview image should be 1460 pixels wide by 800 pixels high.
          %a#toggle_thumbnail_preview
            [preview]
          .activity_thumbnail#thumbnail_preview
            %img
      .field
        = f.label :time_to_complete,  'Estimated Completion Time (in minutes)'
        = f.text_field :time_to_complete
      .field
        = f.label :related, 'Related Content'
        = f.text_area :related, :class => 'wysiwyg'
      .field
        = f.check_box :student_report_enabled
        = f.label :student_report_enabled, t("STUDENT_REPORT_ENABLED")
        %br
          .hint
            Show a link to the student so they can see all their answers and see if they are correct
      .field
        = f.label :layout, "Activity Layout"
        = f.select :layout, options_for_select(LightweightActivity::LAYOUT_OPTIONS, @activity.layout)
      .field{:class => ("disabled" unless @activity.layout == 1)}
        = f.check_box :show_submit_button, :disabled => (@activity.layout != 1 ? true : false)
        = f.label :show_submit_button, 'Show Submit Button'
        %br
          .hint
            Show a submit button at the bottom of a
            %em
              single page
            activity.
      - if current_user.is_admin
        .field
          = f.label :editor_mode, "Authoring Mode"
          = f.select :editor_mode, options_for_select(LightweightActivity::EDITOR_MODE_OPTIONS, @activity.editor_mode)
      .field
        = f.label :editor_mode, "Copied From"
        - if @activity.copied_from_activity
          = link_to @activity.copied_from_activity.name, edit_activity_path(@activity.copied_from_activity)
        - else
          This activity was not copied from another activity
      .field
        = f.label :notes,  'Notes'
        = f.text_area :notes
        .hint The notes area is for storing information for other authors, e.g. source material or usage restrictions, and is not intended to be displayed in the runtime.
      %footer
        .submit
          = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
#rightcol
  #menu
    #pages
      %h2 Activity Pages
      %ul.sortable-list#sort-pages
        - @activity.pages.each.with_index(1) do |p, index|
          %li{ :id => dom_id_for(p, :item), :class => 'item' }
            #{index}.
            -if p.is_completion
              %i.fa.fa-flag-checkered
            = truncate(p.name, :length => 23, :omission => "…")
            %ul.menu
              %li.edit= link_to "Edit", edit_activity_page_path(@activity, p)
              %li.run= link_to "Preview", activity_preview_url(@activity, p), :target => 'new'
              - confirm_message = "Are you sure you want to delete this page from the activity? You will lose data from #{pluralize(@activity.active_runs, "learner")} that #{"has".pluralize(@activity.active_runs)} attempted this activity."
              %li.delete= link_to "Delete", activity_page_path(@activity, p), method: :delete, data: { confirm: (@activity.active_runs > 0) ? confirm_message : 'Are you sure?' }
              %li.drag_handle
                &nbsp;
        %li#add= link_to "Add Page", new_activity_page_path(@activity), :class => "btn-primary"

:javascript
  $(function() {
    // toggle access to submit button for single page layouts
    $('#lightweight_activity_layout').on('change', function() {
      var $this = $(this);
      var selected = $this.find('option:selected').val();
      if (selected === '1') {
        $('#lightweight_activity_show_submit_button').removeAttr('disabled').parent().removeClass('disabled');
      } else {
        $('#lightweight_activity_show_submit_button').attr('disabled', true).parent().addClass('disabled');
      }
    })
  });

= render :partial => 'enable_disable_runtime_fields'
