= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Activities
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Activities

%ul#new-menu
  %li#desc-toggle= toggle_all 'activity descriptions'
  %li#collection_filter= collection_filter_tag @filter
.buttons-menu
  - if can? :create, LightweightActivity
    %a{ :href => new_activity_path }
      %button=t("NEW_ACTIVITY_BUTTON")
  - if can? :import, [LightweightActivity, Sequence, Glossary]
    %a{ :href => import_status_path, 'data-remote'=>"true" }
      %button=t("IMPORT")

- if @official_activities.size > 0
  #official_listing_heading.pagination_heading
    %h1 Official Activities:
    = page_entries_info @official_activities, :model => "Activities"
    = t(:COLLECTION_SORT_ORDER)
    .pagination_info
      = will_paginate @official_activities, :param_name => 'official_page_number', :params => {:anchor => 'official_listing_heading'}
    %ul.quiet_list.official_listing
      - @official_activities.each do |activity|
        =render :partial => "index_item", :locals => {:activity => activity}
    .pagination_info
      = will_paginate @official_activities, :param_name => 'official_page_number', :params => {:anchor => 'official_listing_heading'}

- if @community_activities.size > 0
  #community_listing_heading.pagination_heading
    %h1 Community activities:
    = page_entries_info @community_activities, :model => "Activities"
    = t(:COLLECTION_SORT_ORDER)
    .pagination_info
      = will_paginate @community_activities, :param_name => 'community_page_number', :params => {:anchor => 'community_listing_heading'}
    %ul.quiet_list.community_listing
      - @community_activities.each do |activity|
        =render :partial => "index_item", :locals => {:activity => activity}
    .pagination_info
      = will_paginate @community_activities, :param_name => 'community_page_number', :params => {:anchor => 'community_listing_heading'}
