= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Activities
= content_for :nav do
  .breadcrumbs
    %ul
      %li
        All Activities

.action_menu#activity-actions
  .action_menu_header
    .action_menu_header_left
    .action_menu_header_right.index
      %ul#new-menu
        - if can? :create, LightweightActivity
          %li#add= link_to 'create new activity', new_activity_path
        %li#desc-toggle= toggle_all 'activity descriptions'


%h1.title
  Activities

.item_collection
  %ul.quiet_list
    - @activities.each do |activity|
      %li{ :id => dom_id_for(activity, :item), :class => 'item' }
        %div.action_menu
          %div.action_menu_header_left
            = link_to activity.name, activity_path(activity), :class => 'container_link', :title => 'Preview Activity'
          %div.action_menu_header_right
            %ul.menu
              %li.copy= link_to "Copy", duplicate_activity_path(activity) if can? :create, LightweightActivity
              %li.edit= link_to "Edit", edit_activity_path(activity) if can? :edit, activity
              %li.delete= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, activity
              %li.publish= link_to 'Publish', publish_activity_path(activity) if can? :publish, activity
              %li.run= link_to "Run", activity_path(activity), :target => 'new'

        %div{:id => dom_id_for(activity, :details), :class => 'tiny'}
          - if activity.user && activity.user.email.present?
            %p.author
              = "by #{activity.user.email}"
          %p.updated
            = "last updated at #{activity.updated_at.to_formatted_s(:long)}"
            - if (can? :create, LightweightActivity) && activity.changed_by.present?
              = "by #{activity.changed_by.email}"
          != activity.description
