= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Activities
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Activities

%ul#new-menu
  %li#desc-toggle= toggle_all 'activity descriptions'
  %li#collection_filter= collection_filter_tag @filter
.buttons-menu
  - if can? :create, LightweightActivity
    %a{ :href => new_activity_path }
      %button=t("NEW_ACTIVITY_BUTTON")

- if @official_activities.size > 0
  #official_listing_heading
    %h1 Activities:
  %ul.quiet_list.official_listing
    - @official_activities.each do |activity|
      =render :partial => "index_item", :locals => {:activity => activity}

- if @community_activities.size > 0
  #community_listing_heading
    %h1 Community activities:
  %ul.quiet_list.community_listing
    - @community_activities.each do |activity|
      =render :partial => "index_item", :locals => {:activity => activity}
