= content_for :nav do
  .breadcrumbs
    %ul
      %li
        All Activities

.action_menu
  .action_menu_header
    .action_menu_header_left
    .action_menu_header_right.index
      %ul#new-menu
        - if can? :create, LightweightActivity
          %li#add= link_to 'create new activity', new_activity_path
        %li#desc-toggle= toggle_all 'activity descriptions'


%h1.title
  Lightweight Activities

.item_collection
  %ul.quiet_list
    - @activities.each do |activity|
      %li{ :id => dom_id_for(activity, :item), :class => 'item' }
        %div.action_menu
          %div.action_menu_header_left
            = link_to activity.name, activity_path(activity), :class => 'container_link', :title => 'Preview Activity'
          %div.action_menu_header_right
            %ul.menu
              %li.edit= link_to "Edit", edit_activity_path(activity) unless cannot? :edit, activity
              %li.delete= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' }    unless cannot? :destroy, activity
              %li.run= link_to "Run", activity_path(activity), :target => 'new'

        %div{:id => dom_id_for(activity, :details), :class => 'tiny'}
          != activity.description
