= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@activity.name}"
= content_for :container_css_classes, 'itsi-edit'

= render :partial => "edit_header", locals: {show_publication_details: false}

:javascript
  window.ITSIEditorTinyMCEConfig = {
      menubar: false,
      statusbar: false,
      toolbar_items_size: 'small',
      toolbar: "undo redo | bold italic strikethrough underline | " +
        "aligncenter alignjustify alignleft alignright indent outdent | " +
        "subscript superscript | numlist bullist | link unlink | hr image",
      plugins: 'paste link hr image autoresize',
      paste_as_text: true,
      content_css: "#{asset_path('tinymce.css')}"
    }

#itsi-editor

:javascript
  ITSIEditor = React.createElement(modulejs.require('components/itsi_authoring/editor'), gon.ITSIEditor);
  React.render(ITSIEditor, $('#itsi-editor')[0]);
