= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@activity.name}"
= content_for :container_css_classes, 'itsi-edit'

= render :partial => "edit_header", locals: {show_publication_details: false}

#itsi-editor

:javascript
  ITSIEditor = React.createElement(modulejs.require('components/itsi_authoring/editor'), gon.ITSIEditor);
  React.render(ITSIEditor, $('#itsi-editor')[0]);
