= content_for :title do
  New Activity
= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li / New Activity


%h1 New Activity
.sequence_form
  = form_for @activity, :url => '/activities' do |f|
    = f.error_messages
    - if defined?(session[:user_id])
      = f.hidden_field 'user_id', :value => session[:user_id]
      = render :partial => 'form', :locals => {f: f}
    = edit_menu_for(@activity, f)

= render :partial => 'enable_disable_runtime_fields'