= content_for :title do
  = "Print #{@activity.name}"

= content_for :body_class do
  = 'l-single-page'
.screen-only
  .print-warning
    - if @activity.thumbnail_url.present?
      %img{src:@activity.thumbnail_url}
    %div=t("PRINT_BLANK.PRINT_WARNING", activity: @activity.name)
    .submit
      %a{href: "javascript:void(0);", onclick: "window.print();"}
        %input.button{type: 'submit', value: t('PRINT_BLANK.PRINT', activity: @activity.name)}

.print-only
  - @activity.visible_pages.each do |p|
    -# Enforce full-width layout for each page rendering.
    = render partial: "interactive_pages/show", locals: {page: p, layout: 'l-full-width'}

:javascript
  // FIXME: bold text doesn't show up the first time the document is printed
  // it doesn't mater if a long timeout is added before calling window.print()
  // My guess is that the content has to be rendered once before it works
  $(function(){ window.print(); });
