= content_for :title do 
  = "#{@activity.name}"

.content-hdr
  %h2.h2= @activity.name

= render :partial => 'shared/social'

.intro-mod.index-mod
  .intro-txt
    = @activity.description.html_safe
  - if @activity.time_to_complete
    .estimated-txt
      Estimated time to complete this activity:
      = "#{@activity.time_to_complete} minutes"
  %ol
    -# %h4.index-list-header
      =# Subgroups inside activities
    - @pages.each do |page|
      %li
        = link_to page.name, runnable_activity_page_path(@activity, page)

  %a{ :href => runnable_activity_page_path(@activity, @activity.pages.first ) }
    .submit
      %input.button{ :type => "submit", :value => "Begin activity" }
