= content_for :title do 
  = "#{@activity.name}"

= content_for :body_class do
  = 'l-single-page'

- @activity.pages.each do |p|
  -# Enforce full-width layout for each page rendering.
  = render partial: "interactive_pages/show", locals: {page: p, layout: 'l-full-width'}
.submit
  %a.sp-submit{ :href => "javascript:void(0);", :class => 'forward_nav' }
    %input{ :class => 'button forward_nav', :type => 'submit', :value => "Submit"}
