= content_for :title do 
  = "#{@activity.name}"

= content_for :body_class do
  = 'l-single-page'

- @activity.pages.each do |p|
  -# Enforce full-width layout for each page rendering.
  = render partial: "interactive_pages/show", locals: {page: p, layout: 'l-full-width'}
.submit
  %a.sp-submit{ :href => "javascript:void(0);", :class => 'forward_nav', "data-trigger-save" => "false" }
    %input{ :class => 'button forward_nav', :type => 'submit', :value => "Submit"}

:scss
  .submit{
    width:80px;
    margin:0 auto;
  }

  @media print {
    .embeddables.arg-block,.interactive-mod {
      page-break-inside: avoid;
    }
    #nav-activity-menu,.sidebar-mod,a.sp-submit,#save.error {
      display: none;
    }
    .interactive-container {
      .click_to_play {
        display: none;
      }
      iframe {
        visibility: hidden;
      }
      .img-container,.interactive-print-text {
        display: block !important;
      }
    }
  }

:javascript
  $(function(){
    if (window.location.search.indexOf("print=true") > -1) {
      window.print();
    }

    function close_or_send_back(){
      if(window.opener) {
        window.close();
      }else{
        history.back();
      }
      return false;
    }
    $("a.sp-submit").on('click',function(e){
      click_element = e.currentTarget;
      e.preventDefault();
      window.SaveOnChangePage.instance.force_save_dirty(function(){
        if (click_element){
          args = {
            click_element: click_element,
            action_to_perform: function(){
              LoggerUtils.pageExitLogging();
              startWaiting('Saving data and closing activity...','#loading-container');
              $('#modal-container').show();
              $('#loading-container').css('top', $(window).scrollTop() + 200).show();
              setTimeout(function(){ close_or_send_back(); }, 3000);
            }
          }
          $(document).trigger('navigate_away', args);
        }
      });
    });
  });
  