= content_for :title do 
  = "#{@activity.name}"

= content_for :body_class do
  = 'l-single-page'

- @activity.pages.each do |p|
  -# Enforce full-width layout for each page rendering.
  = render partial: "interactive_pages/show", locals: {page: p, layout: 'l-full-width'}
.submit
  %input.sp-submit{ :type => "submit", :value => 'Submit'}

:javascript
  $(function() {
    $('.sp-submit').on('click', function() {
      startWaiting('Saving data and closing activity...','#loading-container');
      $('#modal-container').show()
      $('#loading-container').css('top', $(window).scrollTop() + 200).show()
      window.SaveOnChangePage.instance.force_save_dirty();
      var closeTab = setTimeout(function(){ close(); }, 3000);
    });
  });
