.summary-mod
  = content_for :title do
    = "Response Summary for #{@activity.name}"

  .print{ :onclick => 'window.print();'} Print

  %h2.h2
    = "Response Summary for #{@activity.name}"
  - @answers.each do |answer|
    = render :partial => "#{answer.class.name.underscore.pluralize}/summary",
      :locals => {:answer => answer}

  .print{ :onclick => 'window.print();' } Print

  - if @sequence
    = render :partial => 'shared/sequence_next_prev', :locals => { :sequence => @sequence, :activity => @activity }
