= content_for :title do
  = "Response Summary for #{@activity.name}"

%button.print{ :onclick => 'window.print();'} Print

%h1
  = "Response Summary for #{@activity.name}"
- @answers.each do |answer|
  = render :partial => "#{answer.class.name.underscore.pluralize}/summary",
    :locals => {:answer => answer}

%button.print{ :onclick => 'window.print();' } Print

%button.reset{ :onclick => 'resetActivity();' }
  = "Clear all answers to this activity"