.summary-mod
  = content_for :title do
    = "Response Summary for #{@activity.name}"

  .actions
    .print{ :onclick => 'window.print();'} Print
    .close{ :onclick => 'window.close();'} Close

  %p The activity questions are shown in bold and your answers are presented in order below.

  %h2.h2= @activity.name
  - if @sequence
    %h3= "in #{@sequence.title}"
  - @answers.each do |answer|
    = render :partial => "#{answer.class.name.underscore.pluralize}/summary",
      :locals => {:answer => answer}

  -# .actions.bottom
    -# .print{ :onclick => 'window.print();'} Print
    -# .close{ :onclick => 'window.close();'} Close
