.interactive-container{class: interactive.save_state ? 'savable' : ''}
  - if !interactive.image_url.blank?
    .img-container{:id => dom_id_for(interactive, :interactive_image),:style => interactive.click_to_play ? "display:block" : "display:none"}
      =image_tag(interactive.image_url)
  - else
    .interactive-print-text
      %div
        Interactive Model
      %p
        See :-
        =link_to "#{interactive.url}","#{interactive.url}"

  = click_to_play_barrier(interactive)
  = interactive_iframe_tag(interactive, @run, !interactive.click_to_play) do

    Your browser does not support inline frames, or is currently not configured to display inline frames.
    Content can be viewed at the actual source page:
    = link_to interactive.url, interactive.url

  - if interactive.save_state
    .below_interactive
      = interactive_data_div(interactive, @run)
      = button_tag 'Undo all my work', {class: 'delete_interactive_data'}

:javascript
  $(document).ready(function() {
    var loadIframe = function(component) {
      $(component).css('display','none');
      $(component).removeClass('shown')
      $('##{dom_id_for(interactive, :interactive_image)}').css('display','none');
      $('#interactive_#{interactive.id}').attr('src','#{interactive.url}');
      InteractiveManager.register($(component).parent('.interactive-container'));
    };
    $('##{dom_id_for(interactive, :click_to_play)}').click(function() {
      var component = this,
          preflight_url = $('#interactive_#{interactive.id}').data('preflight_url');
      if (preflight_url) {
        // pop up a pre-flight window. When it closes itself, load the iframe.
        var win = window.open(preflight_url, 'preflight_window', 'height=120,width=120,location=0,menubar=0,resizable=0,scrollbars=0,status=0,titlebar=0,toolbar=0');
        win.blur(); // pop under the main window
        var poller = setInterval(function() {
          if (win.closed !== false) {
            clearInterval(poller);
            loadIframe(component);
          }
        }, 200);
      } else {
        loadIframe(component);
      }
    })
  })
