= render :partial => 'form'
- if @page
  = link_to "Go back to #{@page.name}", edit_activity_page_path(@page)
  = link_to "Go back to #{@page.lightweight_activity.name}", edit_activity_path(@page.lightweight_activity)
  = link_to "Go back to Lightweight Activities", activities_path