- form_url = mw_interactive_path(@interactive)
.mw-interactive-edit-id
  Interactive ID:
  %span.mw-interactve-id=@interactive.interactive_item_id
= form_for @interactive, :url => form_url, :html => {:class => "styled-admin-form"} do |f|
  = f.error_messages

  %div{:id => "admin-interactive-#{@interactive.interactive_item_id}"}

  .submit-container
    = f.button "Cancel", :class => 'close', :type => 'button'
    = f.submit "Save", :class => 'embeddable-save', :default => 'default'

:javascript
  $(document).ready( function() {
    LARA.PageItemAuthoring.renderMWInteractiveAuthoring(document.getElementById("admin-interactive-#{@interactive.interactive_item_id}"), {
      interactive: #{@interactive.to_authoring_hash().to_json.html_safe},
      defaultClickToPlayPrompt: #{MwInteractive::DEFAULT_CLICK_TO_PLAY_PROMPT.to_json.html_safe},
      authoringApiUrls: #{@interactive.authoring_api_urls(request.protocol, request.host_with_port).to_json.html_safe},
    });
  });
