- form_url = defined?(@page) ? page_mw_interactive_path(@page, @interactive) : mw_interactive_path(@interactive)
.mw-interactive-edit-id
  Interactive ID:
  %span.mw-interactve-id=@interactive.id
= form_for @interactive, :url => form_url do |f|
  = f.error_messages
  =# f.hidden_field 'investigation_id', :value =>@activity.investigation.id # LightweightActivities currently don't belong_to Investigations
  = field_set_tag 'Name' do
    = f.text_field :name
  = field_set_tag 'URL' do
    = f.text_area :url, size: "45x4"
  = field_set_tag 'Dimensions' do
    = f.label :native_width, 'Width'
    = f.text_field :native_width
    .clear
    = f.label :native_height, 'Height'
    = f.text_field :native_height
    .clear
    This width and height will be used to maintain a fixed aspect ratio for the interactive.
  %br
  = f.label :click_to_play, 'Click to play'
  = f.check_box :click_to_play, :id => "click_to_play_#{@interactive.id}"
  %br
  = f.label :full_window, :id => "full_window_label_#{@interactive.id}", :text => 'Full window mode'
  = f.check_box :full_window, :id => "full_window_#{@interactive.id}"
  %br
  = f.label :click_to_play_prompt, :id => "click_to_play_prompt_label_#{@interactive.id}", :text => 'Click to play prompt'
  = f.text_field :click_to_play_prompt, :id => "click_to_play_prompt_#{@interactive.id}", :placeholder => MwInteractive::DEFAULT_CLICK_TO_PLAY_PROMPT
  %div{:style => "margin-bottom:5px;"}
    %em Warning:
    Please provide an image_url to use click to play.
  .image_url
    = f.label :image_url, 'Image_url'
    = f.text_field :image_url
  = f.label :is_full_width, t(:IS_FULL_WIDTH_ASSESMENT_ITEM)
  = f.check_box :is_full_width
  %br
  = f.label :no_snapshots, 'Snapshots Not Supported'
  = f.check_box :no_snapshots
  %br
  = field_set_tag 'Save Interactive state' do
    = f.label :enable_learner_state, 'Save State'
    = f.check_box :enable_learner_state, :id => "enable_learner_state_#{@interactive.id}"
    .clear
    %em Warning:
    Please do not select this unless your interactive contains a serializable data set.
    .clear
    .indent{:id => "enable_learner_state_indent_#{@interactive.id}"}
      = f.label :show_delete_data_button, 'Show "Undo all my work" button'
      = f.check_box :show_delete_data_button, :id => "show_delete_data_button_#{@interactive.id}"
      %br
      = f.label :has_report_url, 'This interactive has a report URL'
      = f.check_box :has_report_url, :id => "has_report_url_#{@interactive.id}"
      .clear
      %em Warning:
      Please do not select this unless your interactive includes a report url in its saved state.
      .clear
      = f.label :linked_interactive_id, 'Link saved work from '
      = f.text_field :linked_interactive_id, :id => "linked_interactive_id_#{@interactive.id}"
      .clear
      %em Warning:
      Please do not link to another interactive unless the interactive knows how to load prior work.
      = render :partial => 'shared/edit_featured', :locals => { :f => f }
  = f.button "Cancel", :class => 'close', :type => 'button'
  = f.submit "Save", :class => 'embeddable-save', :default => 'default'

:javascript
  function click_to_play(){
    if ($("#click_to_play_#{@interactive.id}").prop('checked')) {
        $("#mw_interactive_image_url").attr("required", true);
        $("#full_window_#{@interactive.id}").removeAttr("disabled");
        $('#full_window_label_#{@interactive.id}').css("opacity", 1);
        $("#click_to_play_prompt_#{@interactive.id}").removeAttr("disabled");
        $('#click_to_play_prompt_label_#{@interactive.id}').css("opacity", 1);
      } else {
        $("#mw_interactive_image_url").removeAttr("required");
        $("#full_window_#{@interactive.id}").attr("disabled", true);
        $('#full_window_label_#{@interactive.id}').css("opacity", 0.3);
        $("#click_to_play_prompt_#{@interactive.id}").attr("disabled", true);
        $('#click_to_play_prompt_label_#{@interactive.id}').css("opacity", 0.3);
      }
  }

  $(document).ready(function() {
    click_to_play();
    $('#enable_learner_state_#{@interactive.id}').click(function() {
      $('#has_report_url_#{@interactive.id}').prop('checked', false);
      if ($(this).prop('checked')) {
        // ungrey
        $('#has_report_url_#{@interactive.id}').removeAttr("disabled");
        $('#show_delete_data_button_#{@interactive.id}').removeAttr("disabled");
        $('#parent_id_#{@interactive.id}').removeAttr("disabled");
        $('#enable_learner_state_indent_#{@interactive.id}').css("opacity", 1);
      } else {
        // grey
        $('#has_report_url_#{@interactive.id}').attr("disabled", true);
        $('#show_delete_data_button_#{@interactive.id}').attr("disabled", true);
        $('#parent_id_#{@interactive.id}').attr("disabled", true);
        $('#enable_learner_state_indent_#{@interactive.id}').css("opacity", 0.3);
      }
    });

    if (! #{@interactive.enable_learner_state}) {
          // uncheck and grey out the 'has report url' section
          $('#has_report_url_#{@interactive.id}').prop('checked', false);
          $('#has_report_url_#{@interactive.id}').attr("disabled", true);
          $('#show_delete_data_button_#{@interactive.id}').attr("disabled", true);
          $('#parent_id_#{@interactive.id}').attr("disabled", true);
          $('#enable_learner_state_indent_#{@interactive.id}').css("opacity", 0.3);
    }

    $("#click_to_play_#{@interactive.id}").click(click_to_play);
  });
