= form_for(@theme) do |f|
  - if @theme.errors.any?
    #error_explanation
      %h2
        = pluralize(@theme.errors.count, "error")
        prohibited this theme from being saved:
      %ul
        - @theme.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :css_file
    %br
    = f.text_field :css_file
  .field
    = f.label :footer_nav, "Footer navigation"
    = f.check_box :footer_nav
    %br
      .hint
        Show activity navigation links at the bottom of activity pages
  .actions
    = f.submit
