= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Themes
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Themes

.action_menu#activity-actions
  .action_menu_header
    .action_menu_header_left
    .action_menu_header_right.index
      %ul#new-menu
        - if can? :create, Theme
          %li#add= link_to 'create new theme', new_theme_path

#official_listing_heading
  %h1 Themes
%ul.quiet_list.official_listing
  - @themes.each do |theme|
    %li{ :id => dom_id_for(theme, :item), :class => 'item' }
      %div.action_menu
        %div.action_menu_header_left
          = link_to theme.name, edit_theme_path(theme), :class => 'container_link'
        %div.action_menu_header_right.themes
          %ul.menu
            %li.edit= link_to "Edit", edit_theme_path(theme) if can? :update, theme
            %li.delete= link_to 'Delete', theme_path(theme), method: :delete, data: { confirm: 'Are you sure?' } if can? :update, theme
      %div.tiny
        uses
        = link_to stylesheet_path(theme.css_file), stylesheet_path(theme.css_file)