= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@question_tracker.name}"

#question-tracker-editor

:javascript
  QuestionTrackerEditor = React.createElement(
    modulejs.require('components/question_tracker/editor'),
    {initialState: gon.QuestionTracker, doneLink: gon.DoneLink}
  );
  React.render(QuestionTrackerEditor, $('#question-tracker-editor')[0]);
