= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Question Trackers"

.question-trackers
  .navigation
    %h1 Question Trackers
    = link_to "new", new_question_tracker_path, class: 'button'
  .index
    - @question_trackers.each do |qt|
      .question-tracker
        .headline
          %a{href: edit_question_tracker_path(qt, qt_origin: question_trackers_path)}
            %span.name=qt.name
            %span.type=qt.type
            %span.id (#{qt.id})
        .details
          %span.use_count used in #{qt.use_count} activities
          %span.description=qt.description


        .actions
          - confirm_message = "Are you sure you want to delete #{qt.name} ?"
          = link_to "delete", qt, class: 'delete', method: :delete, confirm: confirm_message

