%div
  %h1{style: "font-size: 1.5em; font-weight: bold; margin-bottom: 1em;"}
    = plugin.name
  = form_for plugin, remote: true do |f|
    = f.error_messages
    %div{style: "display: flex; flex-direction: column;"}
      %div{style: "margin-top: 0.5em; flex-direction: column; align-items: stretch;"}
        = f.label t("PLUGIN.AUTHORING_DATA")
        = f.text_area :author_data
    = f.hidden_field :component_label
    .submit-container
      = f.submit t("CANCEL"), :class => 'close'
      = f.submit t("SAVE"), :class => 'embeddable-save'

:javascript
  $(function() {
    $('#plugin_approved_script_id').on('change', function() {
      var selected = $(this).find(':selected');
      $('#plugin_component_label').val(selected.data('component-label') || "")
    })
  });
