- v3_plugin_label = "plugin#{plugin.approved_script.id}"
- unless plugin_loaded(plugin.url)
  = content_for :external_scripts do
    :javascript
      LARA.Plugins.setNextPluginLabel("#{v3_plugin_label}");
    %script{src:plugin.url}

- if @run.id
  - firebase_jwt_url = api_v1_get_firebase_jwt_url(@run.id, {firebase_app: '_FIREBASE_APP_'})
  - update_plugin_learner_state_url = api_v1_update_plugin_learner_state_url(plugin.id, @run.id)
  - update_plugin_learner_state_path = api_v1_update_plugin_learner_state_path(plugin.id, @run.id)
  - show_plugin_learner_state_path = api_v1_show_plugin_learner_state_path(plugin.id, @run.id)
- else
  -# when this partial is used with print_blank the run.id is nil
  - firebase_jwt_url = nil
  - update_plugin_learner_state_url = nil
  - update_plugin_learner_state_path = nil
  - show_plugin_learner_state_path = nil

- if plugin.version < 2
  -# Version 1
  - output_id = "output-#{plugin.id}"
  .plugin-output{id: output_id}
  - runtime_div_selector = "##{output_id}"
  :javascript
    // Begin script for #{plugin.name}
    $(document).ready( function() {
      env = {
        name: '#{plugin.name}',
        scriptLabel: '#{plugin.label}',
        scriptUrl: '#{plugin.url}',
        pluginId: '#{plugin.id}',
        config: '#{ escape_javascript(plugin.author_data) }',
        div: $('#{runtime_div_selector}')[0]
      }
      console.log("Adding script #{plugin.label} with V1 (ExternalScript) API");
      ExternalScripts.init('#{plugin.label}', env);
    });
- elsif plugin.version == 2
  -# Version 2
  - plugin_learner_state = PluginLearnerState.find_or_create(plugin, @run)
  - learner_state = plugin_learner_state.state
  -# wrapped_embeddable template variable might be undefined when the activity level plugins are rendered
  - wrapped_embedd = defined?(wrapped_embeddable) && wrapped_embeddable
  - if wrapped_embedd
    -# Plugin is wrapping some other embeddable. It's injected into its div and gets question content.
    - runtime_div_selector = "##{wrapped_embedd.embeddable_dom_id}"
    - wrapped_selector = "#{runtime_div_selector} .embeddable-container"
  - else
    -# Typical case. Plugin renders its own output.
    - output_id = "output-#{plugin.id}"
    .plugin-output{id: output_id}
    - runtime_div_selector = "##{output_id}"
    - wrapped_selector = nil
  - user_email = @run.user ? @run.user.email : 'anonymous'
  - class_info_url = @run.class_info_url
  - interactive_state_url = ''
  - if (wrapped_embedd && wrapped_embedd.respond_to?(:interactive_run_states))
    - irs = InteractiveRunState.by_run_and_interactive(@run,wrapped_embedd)
    - interactive_state_url = irs && irs.key ? api_v1_show_interactive_run_state_path({key: irs.key}) : ''
  - if (wrapped_embedd && wrapped_embedd.respond_to?(:click_to_play) && wrapped_embedd.click_to_play)
    - click_to_play_id = dom_id_for(wrapped_embedd, :click_to_play)
  - else
    - click_to_play_id = nil
  :javascript
    $(document).ready( function() {
      // Begin script for #{plugin.name}
      var pluginStatePaths = {
        savePath: `#{escape_javascript(update_plugin_learner_state_path)}`,
        loadPath: `#{escape_javascript(show_plugin_learner_state_path)}`
      };
      var getFirebaseJwtUrl = function(appName) {
        var laraJwtGettingUrl = '#{escape_javascript(firebase_jwt_url)}';
        return laraJwtGettingUrl.replace('_FIREBASE_APP_', appName);
      }
      env = {
        name: '#{plugin.name}',
        url: '#{plugin.url}',
        pluginId: '#{plugin.id}',
        pluginStateKey:'#{ escape_javascript(plugin_learner_state.shared_learner_state_key)}',
        authoredState: '#{ escape_javascript(plugin.author_data) }',
        learnerState:  '#{ escape_javascript(learner_state) }',
        div: $('#{runtime_div_selector}')[0],
        runID: #{@run.id},
        userEmail: '#{escape_javascript(user_email)}',
        classInfoUrl: '#{escape_javascript(class_info_url)}',
        remoteEndpoint: '#{escape_javascript(@run.remote_endpoint)}',
        interactiveStateUrl: '#{escape_javascript(interactive_state_url)}',
        getFirebaseJwtUrl: getFirebaseJwtUrl,
        wrappedEmbeddableDiv: $('#{wrapped_selector}')[0],
        wrappedEmbeddableContext: #{wrapped_embedd ? (LaraSerializationHelper.new).export(wrapped_embedd).to_json : 'null'},
        experimental: {
          clickToPlayId: '#{escape_javascript(click_to_play_id)}'
        }
      }
      console.log("Adding script #{plugin.label} with V2 LARA Plugin API")
      LARA.initPlugin('#{plugin.label}', env, pluginStatePaths);
    });
- else
  -# Version 3
  - plugin_learner_state = PluginLearnerState.find_or_create(plugin, @run)
  - learner_state = plugin_learner_state.state
  -# embeddable template variable will be undefined when the activity level plugins are rendered
  - embeddable_defined = defined?(embeddable) && embeddable.present?

  -# wrapped_embeddable template variable might be undefined when the activity level plugins are rendered
  - wrapped_embedd = defined?(wrapped_embeddable) && wrapped_embeddable
  - if wrapped_embedd
    -# Plugin is wrapping some other embeddable. It's injected into its div and gets question content.
    - runtime_div_selector = "##{wrapped_embedd.embeddable_dom_id}"
    - wrapped_selector = "#{runtime_div_selector} .embeddable-container"
  - else
    -# Typical case. Plugin renders its own output.
    - output_id = "output-#{plugin.id}"
    .plugin-output{id: output_id}
    - runtime_div_selector = "##{output_id}"
    - wrapped_selector = nil
    -# hide the parent question until (if ever) the plugin adds content,
    -# currently plugins can't be added directly to the interactive box, if that
    -# changes then this code will have to be updated because there is not a
    -# .question parent
    -# document.ready is not used so we can avoid flashing content and also be ready
    -# for changes before the plugin has a chance to modify the content
    :javascript
      $("##{output_id}").closest(".question").addClass("hidden");
      (function () {
        var observer = new MutationObserver(function (mutationsList, observer) {
          // show the question if the output div is not empty, hide it otherwise
          if($("##{output_id}").contents().length) {
            $("##{output_id}").closest(".question").removeClass("hidden");
          } else {
            $("##{output_id}").closest(".question").addClass("hidden");
          }
        });
        observer.observe($("##{output_id}")[0], {childList: true})
      })()
  - interactive_state_url = nil
  - if wrapped_embedd && wrapped_embedd.respond_to?(:interactive_run_states)
    - irs = InteractiveRunState.by_run_and_interactive(@run, wrapped_embedd)
    - interactive_state_url = irs && irs.key ? api_v1_show_interactive_run_state_path({key: irs.key}) : ''
  - clickToPlay = !!(wrapped_embedd && wrapped_embedd.respond_to?(:click_to_play) && wrapped_embedd.click_to_play)
  :javascript
    // Begin script for #{plugin.name}
    $(document).ready(function() {
      // It's impossible to get type checking here, but object below MUST always implement IEmbeddableContext interface
      // defined at lara-plugin-api/helpers/embeddable-runtime-context.ts.
      var embeddableContext = #{!wrapped_embedd ? 'null' : "{
        container: $('#{wrapped_selector}')[0],
        laraJson: #{(LaraSerializationHelper.new).export(wrapped_embedd).to_json},
        interactiveStateUrl: #{interactive_state_url ? "'#{escape_javascript(interactive_state_url)}'" : 'null'},
        interactiveAvailable: #{!clickToPlay}
      }"};
      // It's impossible to get type checking here, but object below MUST always implement IPluginContext interface
      // defined at lara-plugin-api/helpers/plugin-runtime-context.ts.
      var pluginContext = {
        name: '#{plugin.name}',
        url: '#{plugin.url}',
        pluginId: #{plugin.id},
        embeddablePluginId: #{embeddable_defined ? embeddable.id : 'null'},
        authoredState: #{plugin.author_data ? "'#{ escape_javascript(plugin.author_data) }'" : 'null'},
        learnerState: #{learner_state ? "'#{ escape_javascript(learner_state) }'" : 'null'},
        learnerStateSaveUrl: `#{escape_javascript(update_plugin_learner_state_url)}`,
        container: $('#{runtime_div_selector}')[0],
        runId: #{@run.id},
        remoteEndpoint: #{@run.remote_endpoint ? "'#{escape_javascript(@run.remote_endpoint)}'" : 'null'},
        userEmail: #{@run.user && @run.user.email ? "'#{escape_javascript(@run.user.email)}'" : 'null'},
        classInfoUrl: #{@run.class_info_url ? "'#{escape_javascript(@run.class_info_url)}'" : 'null'},
        firebaseJwtUrl: '#{escape_javascript(firebase_jwt_url)}',
        wrappedEmbeddable: embeddableContext,
        resourceUrl: '#{escape_javascript(@sequence_run ? sequence_url(@sequence_run.sequence) : activity_url(@run.activity))}'
      }
      console.log("Adding #{plugin.name} runtime plugin as #{v3_plugin_label} with V3 LARA Plugin API")
      LARA.Plugins.initPlugin('#{v3_plugin_label}', pluginContext);
    });
