.model-edit
  .toolbar
    = render partial: 'shared/hide_interactive_link', locals: {interactive: interactive, toggle_vis_path: toggle_visibility_page_video_interactive_path(@page, interactive)}
    |
    = link_to "Edit", edit_page_video_interactive_path(@page, interactive), :remote => true, :id => "edit-int-#{interactive.id}"
    |
    = link_to "Delete", page_video_interactive_path(@page, interactive), :method => :delete
    - if params[:edit_vid_int].to_i == interactive.id
      :javascript
        $("a[id^=edit-int-#{interactive.id}]").click()

  .interactive-content{:style => interactive.is_hidden ? 'display: none;' : ''}
    = render :partial => 'video_interactives/show', :locals => { :interactive => interactive }
