- embeddable_dom_id = "#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}"
.question-hdr
  %h5.h5= "#{t('LABBOOK_ALBUM')} ##{embeddable.question_index}"
.question-bd.labbook{id: embeddable_dom_id,
                    'data-labbook-url' => embeddable.class.labbook_provider,
                    'data-lara-update-url' => embeddable_labbook_answer_path(embeddable),
                    'data-labbook-album-id' => embeddable.album_id,
                    'data-is-upload' => embeddable.is_upload? ? 'true' : nil,
                    'data-interactive-id' => embeddable.interactive ? embeddable.interactive.id : 'null'}
  .text_prompt
    != embeddable.prompt
  %button.lb-action-btn{type: 'button'}
    %span.lb-action-btn-label
      %i.fa.fa-camera
      = embeddable.action_label
  %button.lb-album-btn{type: 'button'}
    %span.lb-album-btn-label
      = t('OPEN_ALBUM')

  .lb-dialog-content{style: 'display: none;'}
    .lb-wait-msg
    %iframe.labbook-content

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      new EmbeddableQuestionsLogging({
        type  :"#{embeddable.class.to_s.demodulize.underscore}",
        id    :"#{embeddable.id}",
        dom_id:"#{embeddable_dom_id}"
      });
    });