.embeddable_tools
  .drag_handle
  = render :partial => "shared/embedded_editor_links", :locals => { :embeddable => embeddable, :page => page, :type => 'lb', :allow_hide => allow_hide }
.embeddable_options  
  %p
    = embeddable.name
  .prompt= embeddable.prompt.html_safe unless embeddable.prompt.blank?
  - unless embeddable.show_in_runtime?
    .warning= Embeddable::Labbook::WONT_DISPLAY_MSG
  %button.button{type: 'submit'}
    %i.fa.fa-camera
    = embeddable.action_label

  - if params[:edit_embed_lb].to_i == embeddable.id
    :javascript
      $("a[id^=edit-embed-lb-#{embeddable.id}]").click()