.embeddable_tools
  .drag_handle
  = render :partial => "shared/embedded_editor_links", :locals => { :embeddable => embeddable, :page => page, :type => 'lb', :allow_hide => allow_hide }
.embeddable_options
  %p
    = embeddable.name
  .prompt= embeddable.prompt.html_safe unless embeddable.prompt.blank?
  - unless embeddable.show_in_runtime?
    .warning
      = t('LABBOOK.WONT_DISPLAY')
      = t(embeddable.why_not_show_in_runtime)
  %button.button{type: 'submit'}
    %i.fa.fa-camera
    = embeddable.action_label

  - if params[:edit_embed_lb].to_i == embeddable.id
    :javascript
      $("a[id^=edit-embed-lb-#{embeddable.id}]").click()
= render :partial => "shared/embedded_editor_wrapper_plugins", :locals => { :embeddable => embeddable }
