= form_for @embeddable do |f|
  = f.error_messages
  = f.label 'Name (visible in reports)'
  = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5, class: 'wysiwyg-minimal'
  = field_set_tag 'Options' do
    %ul
      %li
        = f.label 'Action type'
        = f.select :action_type, Embeddable::Labbook::ACTION_OPTIONS
      %li
        = f.label 'Custom button label'
        = f.text_field :custom_action_label
      %li.interactive_choice
        = f.label 'Interactive'
        = f.select :interactive_select_value, @embeddable.interactives_for_select
      = render :partial => 'shared/edit_full_width', :locals => { :f => f }
  = field_set_tag 'Hint' do
    .help
      If this is provided, the user will be able to see expandable hint next to the question title.
      = f.text_area :hint, :rows => 5, :class => 'wysiwyg-minimal'
  .submit-container
    = f.submit 'Cancel', class: 'close'
    = f.submit 'Save', class: 'embeddable-save'

:javascript
  $(function() {
    initTinyMCE('.wysiwyg-minimal', window.TinyMCEConfigMinimal);
  });
