%h1{style: "font-size: 1.5em; font-weight: bold; margin-bottom: 1em;"}
  External Script

= form_for @embeddable do |f|
  = f.error_messages
  %div{style: "display: grid; grid-template-columns: 100px auto;"}
    %div
      = f.label "Script:"
    %div
      = f.collection_select(:approved_script_id, ApprovedScript.all, :id, :name)
  %div{style: "margin-top: 0.5em;"}
    = f.label "description"
    = f.text_field :description
  %div{style: "margin-top: 0.5em;"}
    = f.label "tree json"
    = f.text_area :configuration, {id:'jsonConfigText'}
  .submit-container
    = f.submit "Cancel", :class => 'close'
    = f.submit "Save", :class => 'embeddable-save'
