- outputId = "output-#{embeddable.id}"
- unless embeddable.name.blank?
  .question-hdr
    %h5.h5= embeddable.name
.question-bd
  .question-txt
    != embeddable.url
  .output{id:outputId}

%script{src:embeddable.url}
:javascript
  // Begin script for #{embeddable.name}
  $(document).ready( function() {
    var env = {};
    if(typeof ScriptConstructor == 'undefined') {
      console.group("External Script Error");
        console.error("External Scripts must define a temporary 'ScriptConstructor' object");
        console.error("See README document section ExternalScript");
      console.groupEnd();
    }
    else {
      env = {
        name: '#{embeddable.name}',
        scriptUrl: '#{embeddable.url}',
        embeddableId: '#{embeddable.id}',
        config: '#{embeddable.configuration}',
        div: '#{outputId}'
      }
      ExternalScripts.register(ScriptConstructor, env);
    }
  });