-# the container is necessary so the menu can be centered when it is
-# fixed positioned
#nav-activity-menu-container
  #nav-activity-menu
    %ul
      - if session[:portal_username]
        -# currently the Home link is only used by the ITSI theme
        -# it can cause user confusion
        %li.am-home
          = link_to "//#{session[:portal_domain]}" do
            %i.fa.fa-university
            %span.text
              Home
      - if(@project && @project.about.present?)
        %li.am-about
          = link_to about_project_path(@project), :remote => true,:title => "About", "data-trigger-save" => false do
            %i.fa.fa-info-circle
            %span.text
              About
      - if @activity
        %li.am-report
          = link_to runnable_summary_path(@activity),:title => "Report",:target => "_blank" do
            %i.fa.fa-print
            %span.text
              Report
      %li.am-close
        = link_to "#", :title => "Close", :onclick => 'window.close();' do
          %i.fa.fa-times
          %span.text
            Close
      - if @activity
        %li.am-print
          %a{:href => "javascript:void(0);", :title => "Print activity", :onclick => "window.print();"}
            %i.fa
              P
            %span.text
              Print

:javascript
  if(!window.opener) {
    $('li.am-close').remove();
  }
