:ruby
  dash_id = "#{type}-#{embeddable.id}"
  under_id = "#{type}_#{embeddable.id}"
  tracked = embeddable.respond_to?(:tracked_question) && embeddable.tracked_question

  confirm_delete = t("EMBEDDABLE.CONFIRM_REMOVE.NOT_IN_USE")
  confirm_hide   = t("EMBEDDABLE.CONFIRM_HIDE.NOT_IN_USE")
  if tracked
    confirm_delete = t("EMBEDDABLE.CONFIRM_REMOVE.TRACKED") if tracked
    confirm_hide   = t("EMBEDDABLE.CONFIRM_HIDE.TRACKED") if tracked
  elsif @activity.active_runs > 0
    confirm_delete = t("EMBEDDABLE.CONFIRM_REMOVE.IN_USE", learners: pluralize(@activity.active_runs, "learner"))
    confirm_hide   = t("EMBEDDABLE.CONFIRM_HIDE.IN_USE", learners: pluralize(@activity.active_runs, "learner"))
  end



  edit_path = case type
    when "or"
      edit_embeddable_open_response_path(embeddable)
    when "iq"
      edit_embeddable_image_question_path(embeddable)
    when "mc"
      edit_embeddable_multiple_choice_path(embeddable)
    when "lb"
      edit_embeddable_labbook_path(embeddable)
    when "external_script"
      edit_embeddable_external_script_path(embeddable)
    when "embeddable_plugin"
      edit_embeddable_embeddable_plugin_path(embeddable)
    when "xhtml"
      edit_embeddable_xhtml_path(embeddable)
    when "mw_int"
      edit_mw_interactive_path(embeddable)
    when "managed_int"
      edit_managed_interactive_path(embeddable)
    when "image"
      edit_image_interactive_path(embeddable)
    when "video"
      edit_video_interactive_path(embeddable)
    else
      raise "Unkown Embeddable type: #{type}"
  end

- if tracked
  - if can? :manage, QuestionTracker
    %span= t("TRACKED_QUESTION.CAN_EDIT")
    = link_to "edit", edit_path, :remote => true, :id => "edit-embed-#{dash_id}"
  - else
    = t("TRACKED_QUESTION.CANT_EDIT")
- else
  - if allow_hide
    = link_to "show", toggle_hideshow_page_item_path(embeddable.p_item),
      :remote => true,
      :method => :post,
      :id => "show-#{dash_id}",
      :onclick => "toggle_hide_#{under_id}()"
    = link_to "hide", toggle_hideshow_page_item_path(embeddable.p_item),
      :remote => true,
      :method => :post,
      :id => "hide-#{dash_id}",
      :onclick => @activity.active_runs > 0 ? "confirm('#{confirm_hide}') && toggle_hide_#{under_id}()" : "toggle_hide_#{under_id}()"
  = link_to "edit", edit_path, :remote => true, :id => "edit-embed-#{dash_id}"

= link_to "remove", remove_page_item_path(embeddable.p_item), :method => :post, :data => {:confirm => confirm_delete }
- if params["edit_#{type}".to_sym].to_i == embeddable.id
  :javascript
    $("a[id^=edit-embed-#{dash_id}]").click()

- if allow_hide
  :javascript
    var hidden_#{under_id} = #{embeddable.is_hidden ? 'true' : 'false'};
    function toggle_hide_#{under_id}() {
      hidden_#{under_id} = !hidden_#{under_id};
      update_view_#{under_id}();
    }
    function update_view_#{under_id}() {
      var $showLink = $("a[id^=show-#{dash_id}]"),
          $hideLink = $("a[id^=hide-#{dash_id}]"),
          $options = $showLink.closest(".embeddable_tools").prev(".embeddable-container"),
          $embeddable = $showLink.parent().parent();

      if (hidden_#{under_id}) {
        $showLink.show();
        $hideLink.hide();
        //$options.hide();
        $embeddable.addClass('hidden-in-runtime');
      }
      else {
        $showLink.hide();
        $hideLink.show();
        //$options.show();
        $embeddable.show();
        $embeddable.removeClass('hidden-in-runtime');
      }
    }

    // call after so that options are visible
    setTimeout(update_view_#{under_id});
