- icon_id = "help-icon-#{embeddable.id}"
- content_id = "help-content-#{embeddable.id}"
- close_id = "help-close-#{embeddable.id}"

.question-hdr
  %h5.h5
    = "#{t("QUESTION")} ##{embeddable.question_index}"
  - if embeddable.hint.present?
    .help-icon{id: icon_id} ?

- if embeddable.hint.present?
  .help-content{id: content_id}
    = embeddable.hint.html_safe
    .close{id: close_id} hide this

  :javascript
    jQuery("##{icon_id}").on("click", function () {
      jQuery("##{content_id}").slideToggle();
    });
    jQuery("##{close_id}").on("click", function () {
      jQuery("##{content_id}").slideUp();
    });
