- embeddable_dom_id = "#{embeddable.class.to_s.demodulize.underscore}-#{embeddable.id}"
- icon_id = "help-icon-#{embeddable_dom_id}"
- content_id = "help-content-#{embeddable_dom_id}"
- close_id = "help-close-#{embeddable_dom_id}"
- label = t("QUESTION")
- if embeddable.is_a? Embeddable::LabbookAnswer
  - label = t("LABBOOK.ALBUM")
- header_text = "#{label} ##{embeddable.question_index}"
- if embeddable.is_a?(MwInteractive) && embeddable.name.present?
  - header_text = "#{header_text}: #{embeddable.name}"
- has_hint = embeddable.respond_to?(:hint) && embeddable.hint.present?

.question-hdr
  %h5.h5
    = header_text
  .help-icon.screen-only{id: icon_id, class: has_hint ? "" : "hidden"} ?

.help-content.screen-only{id: content_id}
  .text
    - if has_hint
      = embeddable.hint.html_safe
  .close{id: close_id} hide this

  :javascript
    jQuery("##{icon_id}").on("click", function () {
      jQuery("##{content_id}").slideToggle();
    });
    jQuery("##{close_id}").on("click", function () {
      jQuery("##{content_id}").slideUp();
    });
