- if current_user
  -if can? :manage, User
    = link_to "User Admin", admin_users_path
  -if can? :manage, Project
    |
    = link_to "Projects", projects_path
  -if can? :manage, ApprovedScript
    |
    = link_to "Plugins", approved_scripts_path
  -if can? :manage, User
    |
    = link_to "Failed runs", dirty_runs_path
  -if can? :manage, LibraryInteractive
    |
    = link_to "Library Interactives", library_interactives_path
