- if current_user
  = link_to "Log Out", destroy_user_session_path, :method => :delete
  -if can? :manage, User
    |
    = link_to "User Admin", admin_users_path
- else
  = link_to "Log In", new_user_session_path
  |
  = link_to "Log In thru Portal", user_omniauth_authorize_path(:concord_portal)
  |
  = link_to "Register", new_user_registration_path