- if current_user
  - user = session[:portal_username] || current_user.email
-else
  - user = "Anonymous"  

- if resource.class == Class
  - message = "#{user}, you don't have permission to access this page."
- else
  - message = "#{user}, you don't have permission to #{action} the #{resource.class.name} with id : #{resource.id}"
  
%body{:style => 'background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif;' }
  .unauthorized_message{:style=>'width: 20em;padding: 0 4em;margin: 4em auto 0 auto;border: 1px solid #ccc;border-right-color: #999;border-bottom-color: #999;'}
    %h1{:style=>'font-size: 100%; color: #f00; line-height: 1.5em;'} #{message}
