= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Lightweight Activities Runtime and Authoring

%div#sticky-header
  %div.top-header
    .buttons-menu
      - if can? :create, LightweightActivity
        %a{ :href => new_activity_path }
          %button{ "data-testid" => "new-activity-button" }=t("NEW_ACTIVITY_BUTTON")

      - if can? :create, Sequence
        %a{ :href => new_sequence_path }
          %button{ "data-testid" => "new-sequence-button" }=t("NEW_SEQUENCE_BUTTON")
      
      - if can? :create, Glossary
        %a{ :href => new_glossary_path }
          %button{ "data-testid" => "new-glossary-button" }=t("NEW_GLOSSARY_BUTTON")

      - if can? :create, Rubric
        %a{ :href => new_rubric_path }
          %button{ "data-testid" => "new-rubric-button" }=t("NEW_RUBRIC_BUTTON")

      - if can? :import, LightweightActivity, Sequence, Glossary
        %a{ :href => import_status_path, 'data-remote' => "true" }
          %button{ "data-testid" => "import-button" }=t("IMPORT")
    %ul#new-menu
      %li#search
        %form
          %input{ :type => "text", :name => "search", :placeholder => "Search...", "data-testid" => "authoring-search-bar" }
          %input{ :type => "submit", :value => "Search", "data-testid" => "authoring-search-button" }

      %li#desc-toggle{ "data-testid" => "desc-toggle-button" }= toggle_all 'descriptions'
      %li#collection_filter{ "data-testid" => "collection-filter-button" }= collection_filter_tag @filter
      - if @activities || @sequences
        %div.bottom-header
          %strong{ "data-testid" => "jump-to-label" }= t("JUMP_TO")
          - if @activities
            %a{ "href" => "#activity_listing_head", "data-testid" => "jump-to-activities" }= t("ACTIVITIES")

          - if @sequences
            %a{ :href => "#sequence_listing_head", "data-testid" => "jump-to-sequences" }=t("SEQUENCES")

          - if @glossaries
            %a{ :href => "#glossary_listing_head", "data-testid" => "jump-to-glossaries" }=t("GLOSSARIES")
            
          - if @rubrics
            %a{ :href => "#rubric_listing_head", "data-testid" => "jump-to-rubrics" }=t("RUBRICS")

-if @activities
  #activity_listing_head
    %h1=t("ACTIVITIES")
  %ul.quiet_list.activities
    - @activities.each do |activity|
      =render :partial => "lightweight_activities/index_item", :locals => {:activity => activity}
  .activities-link
    = link_to t("SEE_ALL_ACTIVITIES"), activities_path

-if @sequences
  #sequence_listing_head
    %h1=t("SEQUENCES")
  %ul.quiet_list.sequences
    - @sequences.each do |sequence|
      =render :partial => "sequences/index_item", :locals => {:sequence => sequence}
  .sequences-link
    = link_to t("SEE_ALL_SEQUENCES"), sequences_path

-if @glossaries
  #glossary_listing_head
    %h1=t("GLOSSARIES")
  %ul.quiet_list.glossaries
    - @glossaries.each do |glossary|
      =render :partial => "glossaries/index_item", :locals => {:glossary => glossary}
  .glossaries-link
    = link_to t("SEE_ALL_GLOSSARIES"), glossaries_path

-if @rubrics
  #rubric_listing_head
    %h1=t("RUBRICS")
  %ul.quiet_list.rubrics
    - @rubrics.each do |rubric|
      =render :partial => "rubrics/index_item", :locals => {:rubric => rubric}
  .rubrics-link
    = link_to t("SEE_ALL_RUBRICS"), rubrics_path
