.question-hdr
  %h5.h5= "#{t("QUESTION")} ##{embeddable.question_index}"
.question-bd
  .question-txt
    != embeddable.prompt
  = form_for embeddable,
    :remote => true,
    :html => {:'data-type' => 'json', :class=> 'live_submit'} do |f|
    = f.text_area :answer_text, :rows => "8", :placeholder => t("TYPE_ANSWER_HERE")
    = prediction_button(embeddable,f)
