= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :project_key
    %br
    = f.text_field :project_key
  .field
    = f.label :logo_lara, "Logo URL for LARA runtime"
    %br
    = f.text_field :logo_lara
  .field
    = f.label :logo_ap, "Logo URL for Activity Player"
    %br
    = f.text_field :logo_ap
  .field
    = f.label :url, "URL"
    %br
    = f.text_field :url
  .field
    = f.label :footer
    %br
    = f.text_area :footer, { :class => 'wysiwyg', :cols => 80, :rows => 10 }
  .field
    = f.label :about
    %br
    = f.text_area :about, { :class => 'wysiwyg', :cols => 80, :rows => 10 }
  .field
    = f.label :help
    %br
    = f.text_area :help, { :class => 'wysiwyg', :cols => 80, :rows => 10 }
  .field
    = f.label :theme, "Default theme"
    %br
    = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @project.theme_id), { :include_blank => "None (use site default)" }
  .actions
    = f.submit
