= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@project.title}"
#projectEditForm

:javascript
  $(document).ready( function() {
    LARA.Projects.renderProjectSettingsForm(document.getElementById("projectEditForm"), {id: #{@project.id}});
  });
