= form_for @settings do |f|
  .errors
    = f.error_messages
  %p
    = f.label 'C-Rater Item ID'
  %p
    = f.text_field :item_id
  %p
    = f.label 'C-Rater score mapping ID'
  %p
    = f.text_field :score_mapping_id

  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
