.embeddable_tools
  .drag_handle
  = render :partial => "shared/embedded_editor_links", :locals => { :embeddable => embeddable, :page => page, :type => 'iq', :allow_hide => allow_hide }
.embeddable_options
  .prompt
    = embeddable.drawing_prompt.html_safe unless embeddable.drawing_prompt.blank?
    = image_tag embeddable.bg_url, { :style => "width: 100%;" } unless embeddable.bg_url.blank?
    = embeddable.prompt.html_safe unless embeddable.prompt.blank?
  - if embeddable.configuration_error
    .warning
      = embeddable.configuration_error
  - if embeddable.is_shutterbug?
    %button.image_question.button{:type => 'submit', :id => 'image_snapshot_button'}
      %i.fa.fa-camera
      Take snapshot
  - elsif embeddable.is_drawing?
    %button.image_question.button{:type => 'submit', :id => 'image_drawing_button'}
      %i.fa.fa-pencil
      Make drawing
  - elsif embeddable.is_upload?
    %button.image_question.button{:type => 'submit', :id => 'image_upload_button'}
      %i.fa.fa-upload
      Upload image
= render :partial => "shared/embedded_editor_wrapper_plugins", :locals => { :embeddable => embeddable }
