= form_for @embeddable do |f|
  .errors
    = f.error_messages
  = f.label "Heading"
  = f.text_field :name
  = field_set_tag 'Drawing Prompt' do
    = f.text_area :drawing_prompt, :rows => 5, :class => 'wysiwyg-minimal'
    .help
      This appears above the drawing area.
  = field_set_tag 'Question Prompt' do
    = f.text_area :prompt, :rows => 5, :class => 'wysiwyg-minimal'
    .help
      This appears next to the text response area. If this is blank, the user will not be shown a text response area.
  = field_set_tag 'Hint' do
    = f.text_area :hint, :rows => 5, :class => 'wysiwyg-minimal'
    .help
      If this is provided, the user will be able to see expandable hint next to the question title.
  = field_set_tag "Options" do
    %ul
      %li
        %label
          Source
          = f.select :bg_source, ['Shutterbug', 'Drawing', 'Upload']
      %li.interactive_choice
        %label
          Interactive
          = f.select :interactive_select_value, @embeddable.interactives_for_select
          .help
            Optional, should be set when Shutterbug (snapshot) is used as a source.
      %li
        %label
          Background image URL
          = f.text_field :bg_url
          .help
            Optional, will be ignored for Shutterbug questions. The drawing
            canvas is 648 pixels wide by 496 pixels high.  Smaller images will
            be centered in the canvas; larger images will be scaled to fit in
            the canvas, with aspect ratio preserved.

      = render :partial => 'shared/edit_prediction', :locals => { :f => f }
      = render :partial => 'shared/edit_featured', :locals => { :f => f }
      = render :partial => 'shared/edit_full_width', :locals => { :f => f }

  .submit-container
    = f.submit "Cancel", :class => 'close'
    = f.submit "Save", :class => 'embeddable-save'

  :javascript
    $(function() {
      $(".wysiwyg, .wysiwyg-minimal").each(function (index) {
        initSlateEditor($(this), $(this).text(), index, {useAjax: false});
      });
    });
