= form_for @embeddable do |f|
  = f.error_messages
  = field_set_tag 'Heading' do
    = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5
    :javascript
      $(function() {
          $('#embeddable_image_question_prompt').wysiwyg({"controls": { "html": { "visible": true }, "h1": { "visible": false }, "h2": { "visible": false }, "h3": { "visible": false } } });
      });
  = field_set_tag 'Background' do
    %label
      Source
      = f.select :bg_source, ['Shutterbug', 'Drawing']
    %br{ :style => 'clear: both;' }
    %label
      Background image URL (optional, will be ignored for Shutterbug)
      = f.text_field :bg_url
  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
