- next_page = nil unless defined?(next_page)
- previous_page = nil unless defined?(previous_page)
%div{:class => ["content", page.theme]}
  .page-nav
    - if previous_page
      - if @offering
        %a{:class => 'previous', :href => activity_page_offering_show_path(previous_page.lightweight_activity, previous_page, @offering)}
          ! &nbsp;
      -else
        %a{:class => 'previous', :href => activity_page_path(previous_page.lightweight_activity, previous_page)}
          ! &nbsp;
    - else
      %a{:class => 'previous disabled'}
        ! &nbsp;
    - page_counter = 1
    - all_pages.each do |p|
      - if @offering
        = link_to page_counter, activity_page_offering_show_path(p.lightweight_activity, p, @offering), :class => (p === page) ? 'active' : ''
      - else
        = link_to page_counter, activity_page_path(p.lightweight_activity, p), :class => (p === page) ? 'active' : ''
      - page_counter = page_counter + 1
    - if next_page
      - if @offering
        %a{:class => 'next', :href => activity_page_offering_show_path(next_page.lightweight_activity, next_page, @offering)}
          ! &nbsp;
      -else
        %a{:class => 'next', :href => activity_page_path(next_page.lightweight_activity, next_page)}
          ! &nbsp;
    - else
      %a{:class => 'next disabled'}
        ! &nbsp;
  %h1.title
    = page.lightweight_activity.name
  %p.question= page.name
  .text
    %p.instructions= page.text
    .questions
      - if @offering
        = form_tag(main_app.answers_portal_offering_path(@offering)) do
          - page.embeddables.each do |e|
            - e_type = e.class.name.underscore
            = render :partial => "#{e_type}/lightweight", :locals => {:embeddable => e}
          = submit_tag "Save Answers"
      - else
        - page.embeddables.each do |e|
          - e_type = e.class.name.underscore
          = render :partial => "#{e_type}/lightweight", :locals => {:embeddable => e}
  .other
    - page.interactives.each do |interactive|
      - i_type = interactive.class.name.underscore
      = render :partial => "#{i_type.pluralize}/show", :locals => {:interactive => interactive}
  - if page.sidebar
    .sidebar
      != page.sidebar
  - if !next_page
    .related
      != page.lightweight_activity.related
  - if page.interactives
    #embed
    #share
