:ruby
  # We handle 7 different use cases and display 7 different versions of the completion page:
  # 1. Single activity is not completed.
  # 2. Single activity is completed.
  # 3. Activity is part of a sequence, it's not completed and it's not the last one in sequence.
  # 4. Activity is part of a sequence, it's completed, but it's not the last one in sequence.
  # 5. Activity is part of a sequence, it's not completed, but it's the last one in sequence.
  # 6. Activity is part of a sequence, it's completed and it's the last one in sequence, but some other activity
  #    in sequence is not completed, so the whole sequence is also not completed.
  # 7. Activity is part of a sequence, it's completed and it's the last one in sequence and all the other activities
  #    in sequence are completed.

  is_sequence = @sequence_run
  completed_activity = @run && @run.completed?
  completed_sequence = is_sequence && @sequence_run.completed?
  next_activity      = is_sequence && @sequence.next_activity(@page.lightweight_activity)
  last_activity      = is_sequence && !next_activity

  use_case = nil
  if !is_sequence && !completed_activity
    use_case = 'single_act_not_completed'
  elsif !is_sequence && completed_activity
    use_case = 'single_act_completed'
  elsif is_sequence && !completed_activity && !last_activity
    use_case = 'sequence_act_not_completed_not_last'
  elsif is_sequence && completed_activity && !last_activity
    use_case = 'sequence_act_completed_not_last'
  elsif is_sequence && !completed_activity && last_activity
    use_case = 'sequence_act_not_completed_last'
  elsif is_sequence && completed_activity && last_activity && !completed_sequence
    use_case = 'sequence_act_completed_last_seq_not_completed'
  elsif is_sequence && completed_activity && last_activity && completed_sequence
    use_case = 'sequence_act_completed_last_seq_completed'
  end

  report_path  = summary_with_response_path(@page.lightweight_activity, @session_key) if @session_key
  page_name    = @page.name || @activity.name + ":#{@page.position}"
  exit_link    = is_sequence ? sequence_path(@sequence, show_index: true) : activity_path(@activity, show_index: true)

- content_for :title do
  = page_name

.intro-mod
  - if completed_activity
    %h4.h4= t("COMPLETION_PAGE.HEADER", {activity: @activity.name})

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030, r-6040, r-7030
.content-mod{ :class => 'l-full-width' }
  .ui-block-1
    = render partial: "interactive_pages/completion_pages/#{use_case}", locals: {activity: @activity,
                sequence: @sequence, next_activity: next_activity, exit_link: exit_link, report_path: report_path}

:sass
  .intro-mod
    .h4
      font-weight: 100
      font-size: 19pt
  .ui-block-1
    div
      padding: 0.5em
    p
      margin: 10px 0
  i
    vertical-align: middle

  .content-mod
    .congratulations-block
      vertical-align: text-top
      box-sizing: border-box
      background-color: hsl(184, 67%, 91%)
      font-style: italic
      color: hsl(184, 67%, 40%)
      display: flex
      align-content: center
      justify-content: space-between
      font-size: 16pt
      font-weight: bold

      input[type="submit"].button
        font-size: 10pt
        margin: 0px

    .continue
      font-weight: 100

    .bottom-block
      display: flex
      justify-content: flex-start
      align-items: flex-start
      background-color: hsl(0, 0%, 91%)
      padding: 10px
      margin-top: 20px
      .finish-links
        display: inline-block
        padding-left: 0px
        a:hover
          text-decoration: none
        a.exit
          font-weight: bold
          text-decoration: underline

      h1
        font-size: 16pt
        color: hsl(0,0%,50%)
        text-transform: uppercase
        font-weight: 100
      h2
        font-weight: 400
        font-size: 18pt
        color: hsl(184, 67%, 40%)
      .image-preview
        margin: 0 10px 0 0
        overflow: hidden
        img
          width: 200px
          height: auto
      input[type="submit"]
        margin: 0px
        display: inline-block
      .description
        margin: 0px

    .ribbon_wrap
      padding: 0 !important
      margin: 3px -7px 10px 10px

    .exit-btn
      font-size: 1.2em
      background: #2869af
      background-image: linear-gradient(top, #2869af, darken(#2869af, 10%))
      border: 1px solid #2869af
      &:hover
        background-color: darken(#2869af, 5%)
        background-image: -webkit-linear-gradient(top, darken(#2869af, 5%), darken(#2869af, 10%))
        background-image: linear-gradient(top, darken(#2869af, 5%), darken(#2869af, 10%))
      &:active
        background-color: darken(#2869af, 10%)
        background-image: -webkit-linear-gradient(top, darken(#2869af, 5%), darken(#2869af, 10%))
        background-image: linear-gradient(top, darken(#2869af, 10%), darken(#2869af, 5%))
