.intro-mod
  - unless page.name.blank?
    %h4.h4
      = page.name
  - if page.show_introduction && !page.text.blank?
    .intro-txt!= page.text

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030, r-6040, r-7030
.content-mod{ :class => layout }
  .ui-block-1
    - if page.interactives.length > 0 && page.show_interactive
      = render partial: 'interactive_pages/interactive', locals: {page: page, layout: layout}

  .questions-mod.ui-block-2{ :class => page.embeddable_display_mode == 'carousel' ? 'jcarousel' : '' }
    - if page.show_info_assessment
      = render partial: 'interactive_pages/list_embeddables', locals: {embeddables: main_section_embeddables(page, @run)}

    .buttons
      - if page.embeddable_display_mode == 'carousel' && page.embeddables.length > 1
        %a.jcarousel-prev{ :href => '#', "data-trigger-save" => "false"}
          %input{ :class => 'button', :type => 'submit', :value => t("BACK"), :disabled => true }
        %a.jcarousel-next{ :href => '#', "data-trigger-save" => "false"}
          %input{ :class => 'button', :type => 'submit', :value => t("NEXT"), :disabled => true }

    -# Additional sections are dynamically loaded, based on .visible_sections value:
    - page.visible_sections.each do |s|
      = render partial: "#{s[:dir]}/runtime", locals: { page: page, section_name: s[:name], section_label: s[:label] }

.end-scroll-track

-# -- Add expanded class to sidebar-mod for expanded view.
- if page.show_sidebar && !page.sidebar.blank?
  .sidebar-mod
    .sidebar-hdr
      %i.fa.fa-arrow-circle-left
      %h5.h5
        = page.sidebar_title
    .sidebar-bd
      .sidebar-bd-close
        X
      %h4.h4
        -# TODO: Content for this head
        -# Why does chewing gum prevent your ears from popping?
      .sidebar-txt
        != page.sidebar

- if page.last? && has_good_content(page.lightweight_activity.related)
  .related-mod
    .related-hdr
      %h5.h5
        Related activities
    .related-bd
      != page.lightweight_activity.related
