.intro-mod
  - unless page.name.blank?
    %h4.h4
      = page.name
  - if page.show_introduction && !page.text.blank?
    .intro-txt!= page.text

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030, r-4060, r-3070
.content-mod{ :class => layout }
  .ui-block-1
    - if page.show_interactive && page.interactive_box_visible_embeddables.length > 0
      = render partial: 'interactive_pages/interactive', locals: {page: page, layout: layout}

  .questions-mod.ui-block-2{ :class => page.embeddable_display_mode == 'carousel' ? 'jcarousel' : '' }
    -# Wrapping plugins don't necessarily wrap items in the assessment block, so they need to be rendered separately.
    = render partial: 'interactive_pages/list_wrapping_plugins', locals: {wrapping_plugins: main_section_wrapping_plugins(page, @run)}
    - if page.show_info_assessment
      = render partial: 'interactive_pages/list_embeddables', locals: {embeddables: main_section_visible_embeddables(page, @run).select {|e| !is_wrapping_plugin?(e) }}

    .buttons
      - if page.embeddable_display_mode == 'carousel' && page.visible_embeddables.length > 1
        %a.screen-only.jcarousel-prev{ :href => '#', "data-trigger-save" => "false"}
          %input{ :class => 'button', :type => 'submit', :value => t("BACK"), :disabled => true }
        %a.screen-only.jcarousel-next{ :href => '#', "data-trigger-save" => "false"}
          %input{ :class => 'button', :type => 'submit', :value => t("NEXT"), :disabled => true }

    -# Additional sections are dynamically loaded, based on .visible_sections value:
    - page.visible_sections.each do |s|
      = render partial: "#{s[:dir]}/runtime", locals: { page: page, section_name: s[:name], section_label: s[:label] }

.end-scroll-track

- if page.show_sidebar && !page.sidebar.blank?
  :javascript
    // Render "Did you know?" sidebar that can be specified by authors.
    $(function () {
      LARA.addSidebar({
        handle: "#{page.sidebar_title}",
        titleBar: "#{page.sidebar_title}",
        handleColor: '#f4a035',
        titleBarColor: '#ffbc67',
        // Use jQuery to process markup created by rich text editor.
        content: $("<div>#{escape_javascript(page.sidebar)}</div>")[0]
      });
    });


- if page.last? && has_good_content(page.lightweight_activity.related)
  .related-mod
    .related-hdr
      %h5.h5
        Related activities
    .related-bd
      != page.lightweight_activity.related

- if page.layout == 'l-responsive'
  :javascript
    // Initialize responsive layout when page is loaded.
    $(function() { responsiveLayout(); });
