= content_for :title do 
  = "Edit #{@page.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li
        = link_to 'All Activities', activities_path
      %li
        \/
        = link_to @activity.name, edit_activity_path(@activity)
      %li
        \/
        = @page.name

.edit-meta
  .page-section-controls
    %ul
      %li
        = form_for @page, :remote => true do |f|
          %label
            = f.check_box :show_introduction, :onchange => 'this.form.submit();'
            Page introduction
      %li
        = form_for @page, :remote => true do |f|
          %label
            = f.check_box :show_info_assessment, :onchange => 'this.form.submit();'
            Info/Assessment block
      %li
        = form_for @page, :remote => true do |f|
          %label
            = f.check_box :show_interactive, :onchange => 'this.form.submit();'
            Interactive box
      %li
        = form_for @page, :remote => true do |f|
          %label
            = f.check_box :show_sidebar, :onchange => 'this.form.submit();'
            Page sidebar text
  %ul.tasks
    %li= link_to "See this page", activity_page_path(@activity, @page), :target => 'new'
    %li= link_to "Add another page to #{@activity.name}", new_activity_page_path(@activity)
  
%div{:class => ["content", "editing", @page.layout.match(/^r-/) ? "stacked-right" : nil]}
  .page-nav
    - if @page.higher_item
      %a{:class => 'previous', :href => edit_activity_page_path(@activity, @page.higher_item)}
        ! &nbsp;
    - else
      %a{:class => 'previous disabled'}
        ! &nbsp;
    - page_counter = 1
    - @activity.pages.each do |p|
      = link_to page_counter, edit_activity_page_path(@activity, p), :class => (p === @page) ? 'active' : ''
      - page_counter = page_counter + 1
    - if @page.lower_item
      %a{:class => 'next', :href => edit_activity_page_path(@activity, @page.lower_item)}
        ! &nbsp;
    - else
      = link_to '+', new_activity_page_path(@activity), {:title => "Add another page to #{@activity.name}", :class => 'next'}

  %h1.title
    = @activity.name
  
  %h2.question
    = editable_field @page, :name, {:use_trigger => true, :edit_string => 'Edit', :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :placeholder => 'page title'}
  = form_for @page, :remote => true do |f|
    = f.select :layout, options_for_select(InteractivePage::LAYOUT_OPTIONS.map { |l| [l[:name], l[:class_val]] }, @page.layout), {},  { :onchange => 'this.form.submit();', :title => 'Page layout' }
    = f.select :embeddable_display_mode, InteractivePage::EMBEDDABLE_DISPLAY_OPTIONS, {}, { :onchange => 'this.form.submit();', :title => 'Display of embeddables: stacked for scrolling, or carousel for sequential display' }
  - if @page.show_introduction
    .instructions{:class => @page.text.blank? ? 'block-empty' : '' }
      %h2 Introduction
      = editable_field @page, :text, { :use_trigger => true, :open_if_empty => true, :edit_string => 'Edit', :type => 'wysiwyg', :rows => 5, :cols => 130, :width => '99%', :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :placeholder => '', :wysiwyg => { :controls => { :html => { :visible => true }, :h1 => { :visible => false }, :h2 => { :visible => false }, :h3 => { :visible => false } } } }
  .text
    - if @page.show_info_assessment
      .questions
        %h2 Info/Assess
        = form_tag add_embeddable_activity_page_path, :class => 'embeddables-form' do
          = select_tag :embeddable_type, options_for_select(SUPPORTED_EMBEDDABLES.map { |e| [e[/::(\w+)$/,1], e] })
          = submit_tag 'Add Embeddable'
        #sort_embeddables
          - @page.embeddables.each do |e|
            - e_type = e.class.name.underscore
            = render :partial => "#{e_type.pluralize}/author", :locals => { :embeddable => e, :page => @page }
  - if @page.show_interactive
    %div{:class => (@page.show_info_assessment ? 'other' : 'other full-width')}
      - @page.interactives.each do |interactive|
        = render :partial => "#{interactive.class.name.underscore.pluralize}/author", :locals => {:interactive => interactive}
      -unless @page.interactives.length > 0
        -# TODO: When we're supporting more than one interactive, the above conditional (unless...) should come out
        = link_to "Add MW interactive", new_page_mw_interactive_path(@page)
        = link_to "Add image", new_page_image_interactive_path(@page)
        = link_to "Add video", new_page_video_interactive_path(@page)
  - if @page.show_sidebar
    .sidebar
      %h2 Sidebar
      = editable_field @page, :sidebar, { :use_trigger => true, :open_if_empty => true, :edit_string => 'Edit', :type => 'wysiwyg', :rows => 5, :cols => 130, :width => '99%', :submit => 'Save', :cancel => 'Cancel', :onblur => 'ignore', :placeholder => '', :wysiwyg => { :controls => { :html => { :visible => true }, :h1 => { :visible => false }, :h2 => { :visible => false }, :h3 => { :visible => false } } } }

  =# javascript_tag("focus_first_field();");
