= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@page.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li
        \/
        = link_to @activity.name, edit_activity_path(@activity)
      %li
        \/
        = @page.name
-# 2021-11-15 NP stopped rendering the publication partial. It was chatty (polling) and ugly
-# TODO: TBD: Do we need to update publication status?
-# = render :partial => "publications/publication_failures", :locals =>{ :publication => @activity}

.activity-name= @activity.name

#sections-container

:javascript
  $(function() {
    if ((navigator.userAgent.indexOf("MSIE"))!=-1){
      $('#page-section-controls').removeAttr("id");
    }
    // Hide page checkbox handling.
    var confirmHideMessage = "Are you sure you want to hide this page? You will lose data from #{pluralize(@activity.active_runs, "learner")} that have run this activity.";
    var activeRuns = #{@activity.active_runs};
    $('#hide-page-checkbox').on('change', function(e) {
      if (this.checked && activeRuns > 0) {
        if (confirm(confirmHideMessage)) {
          this.form.submit();
        } else {
          this.checked = false;
        }
      } else {
        this.form.submit();
      }
    });

    // set the hidden plugin fields when embeddable plugins are selected
    $('select[name=embeddable_type]').on('change', function() {
      var selected = $(this).find(':selected');
      var form = $(this).closest("form");
      form.find('[name=approved_script_id]').val(selected.data('approved-script-id') || "")
      form.find('[name=component_label]').val(selected.data('component-label') || "")
    })

    // set the hidden plugin fields when wrapped embeddable plugins are selected
    $('.wrapped-embeddable-type').on('change', function() {
      var $this = $(this);
      var selected = $this.find(':selected');
      var form = $this.closest("form");
      form.find('[name=approved_script_id]').val(selected.data('approved-script-id') || "")
      form.find('[name=component_label]').val(selected.data('component-label') || "")
    });

    $(document).ready(function() {
      var params = {
        host: window.location.origin,
        activityId: "#{@activity.id}",
        id: "#{@page.id}"
      };
      var element;
      console.log(params);
      var container = $("#sections-container")[0];
      LARA.SectionAuthoring.renderAuthoringPage(container, params);
    });
  });
