= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@page.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Activities', activities_path
      %li
        \/
        = link_to @activity.name, edit_activity_path(@activity)
      %li
        \/
        = @page.name

%div{:class => ["content", "editing", @page.layout.match(/^r-/) ? "stacked-right" : nil]}
  .page-nav
    - if @page.higher_item
      %a{:class => 'previous', :href => edit_activity_page_path(@activity, @page.higher_item)}
        ! &nbsp;
    - else
      %a{:class => 'previous disabled'}
        ! &nbsp;
    - page_counter = 1
    - @activity.pages.each do |p|
      = link_to page_counter, edit_activity_page_path(@activity, p), :class => (p === @page) ? 'active' : ''
      - page_counter = page_counter + 1
    = link_to '+', new_activity_page_path(@activity), {:title => "Add another page to #{@activity.name}"}
    - if @page.lower_item
      %a{:class => 'next', :href => edit_activity_page_path(@activity, @page.lower_item)}
        ! &nbsp;
    - else
      %a{:class => 'next disabled'}
        ! &nbsp;

  %h1.title
    = @activity.name

  %div#itsi_editor
    The ITSI editor will be rendered here... Stay tuned!

:javascript
  $(function() {
    if ((navigator.userAgent.indexOf("MSIE"))!=-1){
      $('#page-section-controls').removeAttr("id");
    }
  });
