= content_for :title do 
  = "#{@page.name}"

.content-hdr
  %h2.h2
    = @page.lightweight_activity.name
.intro-mod
  %h4.h4
    = @page.name
  .intro-txt!= @page.text

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030
.content-mod{ :class => @page.layout }
  .ui-block-1
    - if @page.interactives.length > 0 && @page.show_interactive
      = render :partial => 'interactive'

  .questions-mod.ui-block-2
    = render :partial => 'list_embeddables'

    - if @page.last?
      .submit
        = link_to button_tag("Generate a report of my work.", :type => 'button'), summary_with_response_path(@page.lightweight_activity, @session_key)

  -# -- Add expanded class to sidebar-mod for expanded view.
  - if @page.show_sidebar && !@page.sidebar.blank?
    .sidebar-mod
      .sidebar-hdr
        %h5.h5
          -# TODO: Content for this head
          Did you know?
      .sidebar-bd
        .sidebar-bd-close
          X
        %h4.h4
          -# TODO: Content for this head
          -# Why does chewing gum prevent your ears from popping?
        .sidebar-txt
          != @page.sidebar

  -# TODO: This layout is pretty awful
  - if @page.last? && has_good_content(@page.lightweight_activity.related)
    .related-mod
      .related-hdr
        %h5.h5
          Related activities
      .related-bd
        -# TODO: More structured related content
        != @page.lightweight_activity.related
