= content_for :title do 
  = "#{@page.name}"

.content-hdr
  %h2.h2
    = @page.lightweight_activity.name
.intro-mod
  %h4.h4
    = @page.name
  - if @page.show_introduction
    .intro-txt!= @page.text

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030
-# Now also - r-6040, r-7030
.content-mod{ :class => @page.layout }
  .ui-block-1
    - if @page.interactives.length > 0 && @page.show_interactive
      = render :partial => 'interactive'

  .questions-mod.ui-block-2{ :class => @page.embeddable_display_mode == 'carousel' ? 'jcarousel' : '' }
    - if @page.show_info_assessment
      = render :partial => 'list_embeddables'

    .buttons
      - if @page.embeddable_display_mode == 'carousel' && @page.embeddables.length > 1
        %a.jcarousel-prev{ :href => '#' }
          %input{ :class => 'button', :type => 'submit', :value => '<< Previous', :disabled => true }
        %a.jcarousel-next{ :href => '#' }
          %input{ :class => 'button', :type => 'submit', :value => 'Next >>', :disabled => true }

.bottom-buttons
  - if @page.last?
    .submit{ :class => (@sequence ? 'sequence-report' : 'report') }
      - if @sequence
        %a{ :href => sequence_path(@sequence), :class => 'sequence' }
          %input{ :class => 'button', :type => 'submit', :value => "Back to #{@sequence.title}" }
      %a{ :href => summary_with_response_path(@page.lightweight_activity, @session_key), :class => 'gen-report' }
        %input{ :class => 'button', :type => 'submit', :value => 'Generate a report of my work' }
  .intra-page-nav
    - next_href = @page.lower_item.nil? ? nil : runnable_activity_page_path(@page.lightweight_activity, @page.lower_item)
    - previous_href = @page.higher_item.nil? ? nil : runnable_activity_page_path(@page.lightweight_activity, @page.higher_item)
    - next_activity = @sequence.next_activity(@page.lightweight_activity) if @sequence
    .next-page
      - if @page.last? && next_activity
        = link_to "Next Activity >", sequence_activity_path(@sequence, next_activity), { :title => next_activity.name }
      - elsif @page.lower_item
        = link_to 'Next >', next_href, { :class => 'next' }
    .last-page{ :class => ('disabled' if @page.first?) }
      - if previous_href
        = link_to '< Back', previous_href, { :class => 'prev' }
      - else
        &lt; Back

-# -- Add expanded class to sidebar-mod for expanded view.
- if @page.show_sidebar && !@page.sidebar.blank?
  .sidebar-mod
    .sidebar-hdr
      %h5.h5
        -# TODO: Content for this head
        Did you know?
    .sidebar-bd
      .sidebar-bd-close
        X
      %h4.h4
        -# TODO: Content for this head
        -# Why does chewing gum prevent your ears from popping?
      .sidebar-txt
        != @page.sidebar

#end-scroll-track
- if @page.last? && has_good_content(@page.lightweight_activity.related)
  .related-mod
    .related-hdr
      %h5.h5
        Related activities
    .related-bd
      != @page.lightweight_activity.related
