= content_for :title do 
  = "#{@page.name}"

.content-hdr
  %h2.h2
    = @page.lightweight_activity.name
.intro-mod
  %h4.h4
    = @page.name
  - if @page.show_introduction
    .intro-txt!= @page.text

-# Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030
-# Now also - r-6040, r-7030
.content-mod{ :class => @page.layout }
  .ui-block-1
    - if @page.interactives.length > 0 && @page.show_interactive
      = render :partial => 'interactive'

  .questions-mod.ui-block-2
    - if @page.show_info_assessment
      = render :partial => 'list_embeddables'

    - if @page.last?
      .submit
        %a{ :href => summary_with_response_path(@page.lightweight_activity, @session_key) }
          %input{ :class => 'button', :type => 'submit', :value => 'Generate a report of my work' }

-# -- Add expanded class to sidebar-mod for expanded view.
- if @page.show_sidebar && !@page.sidebar.blank?
  .sidebar-mod
    .sidebar-hdr
      %h5.h5
        -# TODO: Content for this head
        Did you know?
    .sidebar-bd
      .sidebar-bd-close
        X
      %h4.h4
        -# TODO: Content for this head
        -# Why does chewing gum prevent your ears from popping?
      .sidebar-txt
        != @page.sidebar

#end-scroll-track
- if @page.last? && has_good_content(@page.lightweight_activity.related)
  .related-mod
    .related-hdr
      %h5.h5
        Related activities
    .related-bd
      != @page.lightweight_activity.related
