= render partial: 'runs/unauthorized_dialog'

-# Some layouts need to control more than just the inner DIVs (e.g. responsive layout which needs to be full-width).
-# Let's add additional, layout-based class so they can modify some generic styles.
= content_for :body_class do
  = @page.layout + '-wrapper'

- # This page is the 'completion page' for the activity. It has its own template.
- if @page.is_completion
  = render :partial => 'show_completion', :locals => {:page => @page, :layout => @page.layout}

- else
  - content_for :title do
    = @page.name || @page.lightweight_activity.name + ":#{@page.position}"

  .content-hdr
    %h2.h2
      = @page.lightweight_activity.name
  - @page.lightweight_activity.plugins.each do |p|
    = render partial: 'plugins/show', locals: {plugin: p }
  = render :partial => 'show', :locals => {:page => @page, :layout => @page.layout}

  .bottom-buttons
    - next_activity = @sequence.next_activity(@page.lightweight_activity) if @sequence
    .button-left
      - unless @page.first_visible?
        .last-page
          %a{ :href => runnable_activity_page_path(@page.lightweight_activity, @page.prev_visible_page), :class => 'prev' }
            %input{ :class => 'button', :type => 'submit', :value => t("BACK") }
    .button-center
      - if @page.last_visible? && @page.lightweight_activity.student_report_enabled
        .submit.report
          %a{ :href => runnable_summary_path(@page.lightweight_activity), :class => 'gen-report', :target => '_blank' }
            %input{ :class => 'button', :type => 'submit', :value => t("GENERATE_A_REPORT") }
    .button-right
      - if @page.last_visible? && next_activity
        .next-page
          %a{ :href => runnable_activity_path(next_activity), :title => next_activity.name, :class => 'next forward_nav'}
            %input{ :class => 'button next forward_nav', :type => 'submit', :value => t("BEGIN_NEXT_ACTIVITY") }
      - elsif @page.next_visible_page
        .next-page
          %a{:href => runnable_activity_page_path(@page.lightweight_activity, @page.next_visible_page), :class => 'next forward_nav' }
            %input{ :class => 'button next forward_nav', :type => 'submit', :value => t("NEXT")}

-# Set Google Analytics content group based on the project. Note that project might be undefined
-# for activity, but defined for sequence. Always try to use sequence data first.
-# If @sequence is defined, it's a sequence run.
= render partial: "shared/analytics_content_group", locals: {resource: @sequence || @activity}
