= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Library Interactives
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Library Interactives

.action_menu#activity-actions
  .action_menu_header
    .action_menu_header_left
    .action_menu_header_right.index
      %ul#new-menu
        - if can? :create, LibraryInteractive
          %li#add= link_to 'Create New Library Interactive', new_library_interactive_path

#official_listing_heading
  %h1 Library Interactives
%ul.quiet_list.official_listing
  - @library_interactives.each do |library_interactive|
    %li{ :id => dom_id_for(library_interactive, :item), :class => 'item' }
      %div.action_menu
        %div.action_menu_header_left
          = link_to "#{library_interactive.name} (##{library_interactive.id})", edit_library_interactive_path(library_interactive), :class => 'container_link'
        %div.action_menu_header_right.themes
          %ul.menu
            %li.edit= link_to "Edit", edit_library_interactive_path(library_interactive) if can? :update, library_interactive
            - if library_interactive.use_count > 0
              %li.migrate= link_to "Migrate", migrate_library_interactive_path(library_interactive) if can? :update, library_interactive
            - else
              %li.migrate= link_to "Migrate", "javascript:alert('No embeddables currently use this library interactive.')", :class => 'disabled' if can? :update, library_interactive
            %li.delete= link_to 'Delete', library_interactive_path(library_interactive), method: :delete, data: { confirm: 'Are you sure?' } if can? :update, library_interactive
      %div.tiny
        %p
          = library_interactive.base_url
        %p
          Embeddables using this: #{library_interactive.use_count}
        %p
          = library_interactive.description
        - if library_interactive.official
          %p
            OFFICIAL
