.authorable_open_response
  .embeddable_tools
    .drag_handle
    = link_to "edit", edit_embeddable_open_response_path(embeddable), :remote => true
    |
    = link_to "remove", page_remove_embeddable_path(page, embeddable), :method => :post, :data => {:confirm => 'Are you sure?'}
  .prompt= embeddable.prompt.html_safe unless embeddable.prompt.blank?
  %textarea{:name => "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"}
