= form_for @embeddable do |f|
  = f.error_messages
  = f.label "Heading"
  = f.text_field :name
  = field_set_tag 'Prompt' do
    = f.text_area :prompt, :rows => 5, :class => "wysiwyg-minimal"
  = field_set_tag 'Default Text' do
    = f.text_area :default_text, :rows => 5
  = field_set_tag 'Hint' do
    .help
      If this is provided, the user will be able to see expandable hint next to the question title.
      = f.text_area :hint, :rows => 5, :class => 'wysiwyg-minimal'
  .options
    = field_set_tag "Options" do
      .ul
        = render :partial => 'shared/edit_prediction', :locals => { :f => f }
        = render :partial => 'shared/edit_full_width', :locals => { :f => f }

  .submit-container
    = f.submit "Cancel", :class => 'close'
    = f.submit "Save", :class => 'embeddable-save'

  :javascript
    $(function() {
      initTinyMCE('.wysiwyg-minimal', window.TinyMCEConfigMinimal);
    });
