.answer
  - if answer.reporting_url.present?
    = link_to 'View work', answer.reporting_url, :target => '_blank'
  - elsif answer.report_state.present?
    - interactive_id = "interactive-state-#{answer.id}"
    .interactive-summary{id: interactive_id}

    - content_for :extra_javascript do
      :javascript
        (function() {
          var props = {
            src: '#{answer.interactive.url}',
            width: '#{answer.interactive.native_width}',
            height: '#{answer.interactive.native_height}',
            initMsg: #{answer.report_state.to_json}
          };
          InteractiveIframe = React.createElement(modulejs.require('components/common/interactive_iframe'), props);
          ReactDOM.render(InteractiveIframe, $('##{interactive_id}')[0]);
        }());
  - else
    %p! &nbsp;
