- firebase_jwt_url = api_v1_get_firebase_jwt_url({firebase_app: '_FIREBASE_APP_'})
= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "#{@can_edit ? "Edit" : "View"} #{@rubric.name}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Rubrics', rubrics_path
      %li= "/ #{@can_edit ? "Edit" : "View"} #{@rubric.name}"

#rubric_authoring_form

:javascript
  $(document).ready(function() {
    LARA.RubricAuthoring.renderRubricForm(document.getElementById("rubric_authoring_form"), {
      name: "#{j @rubric.name}",
      updateSettingsUrl: "#{j api_v1_rubric_url(@rubric.id)}",
      project: #{@project.to_json},
      projects: #{@projects.to_json},
      authoredContentUrl: "#{j api_v1_authored_content_url(@rubric.authored_content)}",
      referenceURL: "#{j @rubric.doc_url}",
    });
  });