.table-wrap
  %table
    %tr.feedback-title
      %td.left
        = f.label "Title"
      %td.right
        = f.text_field :description,:placeholder => 'Enter Title text',:required => true
    %tr.sub-header
      %td.left
        Score
      %td.right  
        Score mapping text
    %tr.score
      %td.left
        = f.label "0"
      %td.right
        = f.text_area :score0, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "1"
      %td.right
        = f.text_area :score1, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "2"
      %td.right
        = f.text_area :score2, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "3"
      %td.right
        = f.text_area :score3, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "4"
      %td.right
        = f.text_area :score4, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "5"
      %td.right
        = f.text_area :score5, :rows => "1",:cols => "100", :class => 'wysiwyg'
    %tr.score
      %td.left
        = f.label "6"
      %td.right
        = f.text_area :score6, :rows => "1",:cols => "100", :class => 'wysiwyg'

= f.submit "Cancel", :class => 'close'
= f.submit "Save", :class => 'embeddable-save'
:javascript
$(function() {
    $('.wysiwyg').each(function(){
        $( this ).wysiwyg({height: "60px","controls": { "html": { "visible": true }, "h1": { "visible": false }, "h2": { "visible": false }, "h3": { "visible": false } } });
    });
});