= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
%ul#new-menu
  %li#collection_filter= collection_filter_tag @filter
.buttons-menu
  - if can? :create, CRater::ScoreMapping
    %a{ :href => new_c_rater_score_mapping_path, 'data-remote' => "true"}
      %button=t("NEW SCORE MAPPING")


#activity_listing_head
  %h1 Score Mappings

- if @score_mappings.length > 0
  %div.score_mappings_list
    %div
      %table{:width=>"100%"}
        %tr.feedbackset_list_header
          %td{:width=>"40px"}
            %div
              Sr.#
          %td
            Description
          %td{:width=>"200px",:style => 'padding:0px'}
            Authored by
          %td{:width=>"200px",:style => 'padding:0px'}
            Last modified
          %td{:width=>"120px",:style => 'text-align:center;padding:0px'}
            Actions
        - @score_mappings.all.each_with_index do |feedbackset,index|
          %tr.feedbackset_list_row
            %td{:style => 'text-align:center;padding:0px'}
              #{index+1}
            %td
              #{feedbackset.description}
            %td
              #{feedbackset.user.email} on #{feedbackset.created_at.to_formatted_s(:long)}
            %td
              #{feedbackset.changed_by.email} on #{feedbackset.updated_at.to_formatted_s(:long)}
            %td
              %span.edit= link_to "Edit", edit_c_rater_score_mapping_path(feedbackset),:remote => true if can? :edit, feedbackset
              %span.delete= link_to 'Delete', c_rater_score_mapping_path(feedbackset), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, feedbackset
- else
  %div.no_score_mappings
    There are no score mappings. Click on New Score Mapping to create score mappings.
