#unauthorized-dialog{style: 'display: none;'}
  .form-success.intro-mod{style: 'display: none;'}
    Thank you for your feedback.
  .form-failure.intro-mod{style: 'display: none; color: #990000;'}
    We were unable to send your feedback. We must really be having problems right now!
  .message
    = render partial: 'runs/unauthorized'
  .form{style: 'display: none;'}
    = form_tag({controller: 'runs', action: 'unauthorized_feedback'}, {method: 'post', remote: true}) do
      .item
        .prompt= label_tag :username, "Your username:"
        .field= text_field_tag :username, nil, tabindex: 1
      .item{style: 'margin-top: 10px;'}
        .prompt= label_tag :teacher, "Your teacher's name:"
        .field= text_field_tag :teacher, nil, tabindex: 2
      .item{style: 'margin-top: 10px;'}
        .prompt= label_tag :description, "Describe what you were doing when the error occurred:"
        .field= text_area_tag :description, nil, tabindex: 3, style: 'width: 100%; height: 7em;'
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :original_url, request.original_url
      = submit_tag "Submit", tabindex: 4


:javascript
  $(document).on('unauthorized', function() {
    // Disable scrolling of the main page
    $("body").css({ position: 'fixed', top: 0, left: 0, width: '100%', height: '100%', overflow: 'hidden' });

    var $dialog = $('#unauthorized-dialog').show();

    LARA.addPopup({
      content: $dialog[0],
      title: 'Session Timed Out',
      closeButton: false,
      modal: true,
      width: 320,
      resizable: false,
      draggable: false,
      closeOnEscape: false
    });
  });

  // Form handlers
  $('#unauthorized-dialog a').click(function() {
    $('#unauthorized-dialog > div').hide();
    $('#unauthorized-dialog .form').show();
  });

  $("#unauthorized-dialog form").on('ajax:success', function() {
    $('#unauthorized-dialog > div').hide();
    $('#unauthorized-dialog .form-success').show();
    $('#unauthorized-dialog .message').show();
    $('#unauthorized-dialog .message .stuck').hide();
  });

  $("#unauthorized-dialog form").on('ajax:error', function() {
    $('#unauthorized-dialog > div').hide();
    $('#unauthorized-dialog .form-failure').show();
    $('#unauthorized-dialog .message').show();
    $('#unauthorized-dialog .message .stuck').show();
  });
