= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Dirty Runs
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / Dirty Runs

#official_listing_heading
  %h1 Dirty runs
%p This listing shows runs queued for submission to the portal more than five minutes ago. Especially old ones, particularly those more than 15 or 20 minutes old, may have retried three or four times already and could have problems with their submission.
- if @runs.count > 0
  %ul.quiet_list.official_listing
    - @runs.each do |run|
      %li.item
        %div.action_menu
          %div.action_menu_header_left
            = link_to "#{time_ago_in_words(run.updated_at)} ago", summary_with_response_path(run.activity_id, run.key)
          %div.action_menu_header_right.themes
            %ul.menu
              %li.edit= link_to "Resubmit", resubmit_answers_for_run_path(run.activity_id, run.key)
              %li.delete= link_to 'Summary', summary_with_response_path(run.activity_id, run)
        %div.tiny
- else
  %p No dirty runs older than 5 minutes found.