.questions.arg-block
  %h2
    = section_label
  .embeddables-form
    = button_to "Create", c_rater_arg_block_create_embeddables_path(page), :method => :post, :disabled => !(arg_block_authorables(page).empty?)
    - activity = page.lightweight_activity
    - confirm_message = "Are you sure you want to delete these elements? You will lose data from #{pluralize(activity.active_runs, "learner")} that have answered these questions."
    = button_to "Remove", c_rater_arg_block_remove_embeddables_path(page), :method => :post, :data => {:confirm => (activity.active_runs > 0) ? confirm_message : 'Are you sure?'}, :disabled => (arg_block_authorables(page).empty?)

  .embeddables_list
    - arg_block_authorables(page).each do |e|
      - e_type = e.class.name.underscore
      = render :partial => "#{e_type.pluralize}/author", :locals => { :embeddable => e, :page => page, :allow_hide => false }
