-# require locals   feedback, emb_id
- fb_visible   =  feedback && !feedback.feedback_text.blank?
- fb_dirty     =  feedback && feedback.outdated?
- fb_text      = (feedback && feedback.feedback_text) || ""
- fb_score     = (feedback && feedback.score && (feedback.score >= 0 && feedback.score <= 6)) ? feedback.score : '-error'
- fb_max_score = (feedback && feedback.max_score) || 6
- feedback_classes = "max-score-#{fb_max_score} score-#{fb_score}"

.ab-feedback{:id => "feedback_on_answer_#{emb_id}",
                   :style => fb_visible ? '' : 'display: none',
                   :class => "ab-score#{fb_score}",
                   'data-dirty' => fb_dirty ? 'true' : 'false'}
  .ab-dirty{:style => fb_dirty ? '' : 'display: none'}
    = t 'ARG_BLOCK.RESUBMIT_ANSWER'
  %h6
    = t 'ARG_BLOCK.FEEDBACK'
  .ab-feedback-item
    = "css classes used: (#{feedback_classes})"
    .ab-robot-scale{:class => feedback_classes}
    .ab-robot-feedback-text
      #{fb_text.html_safe}