- embeddables = arg_block_embeddables(page, @run)
- if embeddables.any?
  - submission_count = submission_count(page, @run)
  .embeddables.arg-block
    .ab-feedback-header{:style => submission_count > 0 ? '' : 'display: none'}
      %div.ab-theme-color
        = t 'ARG_BLOCK.SUBMISSION'
        %span.ab-submission-count{'data-submission-count' => submission_count}
          = submission_count
      - if page.layout == "l-7030" || page.layout == "r-3070"
        .ab-robot-wrap
          %div= t 'ARG_BLOCK.HASBOT_SAYS'
          %div= t 'ARG_BLOCK.ANALYZED'
          .ab-robot-figure
          %div= t 'ARG_BLOCK.RESUBMIT_OR_MOVE'
      -else
        %table.ab-robot-wrap
          %tr
            %td
              .ab-robot-figure{:id => 'ab-robot-image'}
            %td
              .ab-robot-analysis
                %div= t 'ARG_BLOCK.HASBOT_SAYS'
                %div= t 'ARG_BLOCK.ANALYZED'
                %p
                %div= t 'ARG_BLOCK.RESUBMIT_OR_MOVE'

    - embeddables.each_with_index do |m,index|
      - question = m.respond_to?(:question) ? m.question : m
      -# The next two CSS selectors are important,they might be referenced
      -# by plugins and passed to a plugin instance for wrapped content.
      -# e.g. Teacher Edition
      .question{ id: question.embeddable_dom_id }
        .embeddable-container
          = render :partial => "#{m.class.name.underscore.pluralize}/lightweight", :locals => {:embeddable => m}
          = render :partial => "c_rater/argumentation_block/feedback",
                              :locals => { feedback: m.get_saved_feedback, emb_id: m.answer_id }

    - submission = last_submission(page, @run)

    %input{:class => 'ab-submit button', :type => 'submit',
           :value => submission_count > 0 ? t('ARG_BLOCK.RESUBMIT') : t('ARG_BLOCK.SUBMIT'),
           'data-href' => c_rater_arg_block_save_feedback_path(page, @run.key),
           'data-page_id' => page.id}
    %div.ab-submit-prompt       

:javascript
  $(function() {
    // Set argumentation block border color using JS, so it always matches current theme.
    // It's not pretty, but integration with existing themes system would be too painful (if possible at all).
    var questionHeaderColor = $('.question-hdr').css('background-color');
    $('.arg-block').css('border-color', questionHeaderColor);
    $('.ab-theme-color').css('color', questionHeaderColor);
  });
