- embeddables = arg_block_embeddables(@page, @run)
- if embeddables.any?
  .embeddables.arg-block
    - any_feedback = embeddables.any? { |e| f = e.get_saved_feedback; f && f.feedback_text  }
    .ab-feedback-header{:style => any_feedback ? '' : 'display: none'}
      %h3
        = t 'ARG_BLOCK.FEEDBACK_HEADER'
    - embeddables.each do |m|
      .question
        = render :partial => "#{m.class.name.underscore.pluralize}/lightweight", :locals => {:embeddable => m}
        - fb = m.get_saved_feedback
        - fb_visible = fb && !fb.feedback_text.blank?
        - fb_dirty = fb && fb.outdated?
        - fb_text = fb && fb.feedback_text
        - fb_score = fb && fb.score
        .ab-feedback{:id => "feedback_on_answer_#{m.id}",
                     :style => fb_visible ? '' : 'display: none',
                     :class => "ab-score#{fb_score}",
                     'data-dirty' => fb_dirty ? 'true' : 'false'}
          .ab-dirty{:style => fb_dirty ? '' : 'display: none'}
            = t 'ARG_BLOCK.RESUBMIT_ANSWER'
          %h6
            = t 'ARG_BLOCK.FEEDBACK'
          .ab-feedback-text
            = fb_text

    .question#ab-feedback-on-feedback{:style => 'display: none;', 'data-href' => c_rater_arg_block_feedback_on_feedback_path}
      %div
        = t('ARG_BLOCK.FEEDBACK_ON_FEEDBACK')
        - CRater::FeedbackSubmission.usefulness_score_names.each do |value, label|
          %label
            = radio_button_tag(:feedback_on_feedback, value)
            = label

    %input{:id => 'ab-submit', :class => 'ab-submit button', :type => 'submit', 'data-href' => c_rater_arg_block_save_feedback_path(@page)}

:javascript
  // Set argumentation block border color using JS, so it always matches current theme.
  // It's not pretty, but integration with existing themes system would be too painful (if possible at all).
  var questionHeaderColor = $('.question-hdr').css('background-color');
  $('.arg-block').css('border-color', questionHeaderColor);

:scss
  .arg-block {
    border: 5px solid gray; // color is going to be overwritten by JS
    box-shadow: 2px 2px 2px #aaa;

    .question-bd {
      margin-bottom: 15px;
    }

    &:after {
      // Keeps submit button within argumentation block.
      display: table;
      content: "";
      clear: both;
    }
  }

  .ab-submit {
    float: right;
    margin: 12px 12px 12px 0 !important;
  }

  .ab-feedback-header {
    border: 1px solid #eee;
    padding: 22px;
  }

  .ab-feedback {
    clear: both;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 5px 0 22px;
  }

  .ab-dirty {
    color: #BD6161;
    padding: 3px 0 0 4px;
    font-size: 12px;
    border-radius: 6px;
    margin: 0 0 2px -17px;

    .did_try_to_navigate & {
      background: #FFDCDC;
    }
  }

  #ab-feedback-on-feedback {
    margin: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);

    div {
      text-align: left;
      display: inline-block;
    }

    &.did_try_to_navigate {
      background: rgba(255, 0, 0, 0.2);
    }
  }

  .ab-score0 {
  }
  .ab-score1 {
  }
  .ab-score2 {
  }
  .ab-score3 {
  }
  .ab-score4 {
  }
  .ab-score5 {
  }
  .ab-score6 {
  }

