- embeddable_string = "#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}"
.multiple_choice{:id => embeddable_string}
  .prompt= embeddable.prompt.html_safe
  .answer
    = form_for embeddable,
      :remote => true,
      :html => {:'data-type' => 'json'} do |f|
      %p
        - embeddable.choices.each do |choice|
          .button_group
            = f.radio_button :answer_ids, choice.choice, :class => 'live_submit'
            -# TODO: I'd like these labels to function better with the radio button, so clicking the label selects the relevant choice.
            = f.label choice.choice
  %button{ :onclick => "checkAnswer('embeddable__#{embeddable_string}');" }
    Check Answer

-# TODO: Pull this JS out into the site script rather than putting it inline
:javascript
  // TODO: live() is deprecated http://api.jquery.com/live/
  $('.live_submit').live('change',function() {
    $(this).parents('form:first').submit();
  });
