- embeddable_string = "#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}"
- check_button_string = "check_button_#{embeddable_string}"
.question-hdr
  %h5.h5= "Question ##{embeddable.question_index}"
.question-bd{ :id => embeddable_string }
  .question-txt
    != embeddable.prompt
  = form_for embeddable,
    :remote => true,
    :html => {:'data-type' => 'json'} do |f|
    %fieldset.options.live-update
      - embeddable.choices.each do |choice|
        %label{ :for => "embeddable_multiple_choice_answer_answers_#{choice.id}" }
          - if embeddable.multi_answer
            = check_box_tag 'embeddable_multiple_choice_answer[answers][]', choice.id, embeddable.answers.include?(choice), :id => "embeddable_multiple_choice_answer_answers_#{choice.id}", :class => 'live_submit', :data => {:button_id => check_button_string}
          - else
            = f.radio_button :answers, choice.id, :data => {:button_id => check_button_string}, :class => 'live_submit', :checked => (embeddable.answers.include?(choice))
          = choice.choice
  - if embeddable.enable_check_answer # && !embeddable.multi_answer
    %input{ :class => 'button check_answer_button',
            :type => 'button',
            :id => check_button_string,
            :value => 'Check answer',
            :disabled => (embeddable.answers.length == 0),
            :data => { :check => embeddable_string } }
