<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <legend>Permissions</legend>
  <p>
    <label for="user_is_admin">
      Admin?
      <%= f.check_box :is_admin %>
    </label>
  </p>
  <p>
    <label for="user_is_author">
      Author?
      <%= f.check_box :is_author %>
    </label>
  </p>
  <p>
    <label for="has_api_key">
      Allow API access (for GET requests)?
      <%= f.check_box :has_api_key %>
      <% if @user.has_api_key%>
        <p>
          API KEY: <input type="text" size="64" readonly value="<%= @user.api_key %>">
        </p>
      <% end %>
    </label>
  </p>


</fieldset>

<div class="actions">
  <%= f.submit %>
</div>
