<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <legend class="left">Permissions</legend>
  <div>
    <%= f.check_box :is_admin %>
    <label class="normal" for="user_is_admin">
      Site Admin
    </label>
  </div>
  <div>
    <%= f.check_box :is_author %>
    <label class="normal" for="user_is_author">
      Author
    </label>
  </div>
  <div style="margin-top: 15px;">
    <%= f.check_box :has_api_key %>
    <label class="normal" for="has_api_key">
      Allow API access (for GET requests)
    </label>
    <% if @user.has_api_key%>
      <p>
        API KEY: <input type="text" size="64" readonly value="<%= @user.api_key %>">
      </p>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend class="left">Project Admin for Projects</legend>

  <% @projects.each do |project| %>
    <div>
      <%= check_box_tag "user[admined_project_ids][]", project.id, @user.project_admin_of?(project) %>
      <label class="normal">
        <%= project.title %>
      </label>
    </div>
  <% end %>
</fieldset>

<div style="margin: 15px 0;">
  <%= f.submit %>
</div>
