<h1>Editing <%= @user.email %></h1>

<%= form_for(@user, {:url => admin_user_path(@user), :method => 'put'}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<%- end -%>

<p>
<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
</p>
