= form_for @embeddable do |f|
  = f.error_messages
  = field_set_tag 'Heading' do
    = f.text_field :name
  = field_set_tag 'Content' do
    = f.text_area :content, :rows => 5
    :javascript
      $(function() {
          $('#embeddable_xhtml_content').wysiwyg({"controls": { "html": { "visible": true }, "h1": { "visible": false }, "h2": { "visible": false }, "h3": { "visible": false } } });
      });
  = f.submit "Cancel", :class => 'close'
  = f.submit "Save", :class => 'embeddable-save'
