= form_for @embeddable, html: {class: 'edit_embeddable_xhtml'} do |f|
  = f.error_messages
  = field_set_tag 'Heading (optional)', class: 'textblock-heading-field' do
    = f.text_field :name
  = field_set_tag 'Content' do
    = f.text_area :content, :rows => 5, :class => 'wysiwyg-minimal'
    :javascript
      $(function() {
        initTinyMCE('.wysiwyg-minimal', window.TinyMCEConfigMinimal);
      });
  .options
    = field_set_tag "Options" do
      .ul
        .li
          = f.check_box :is_callout
          = t(:IS_CALLOUT_ASSESSMENT_ITEM)
        = render :partial => 'shared/edit_full_width', :locals => { :f => f }
  .submit-container
    = f.submit "Cancel", :class => 'close'
    = f.submit "Save", :class => 'embeddable-save'
