<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= render partial: 'shared/rollbar' %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :external_scripts %>
</head>
<%- @body_class = request.original_fullpath.split('/').join(' ') -%>
<%- if @session_key -%>
  <body class="right <%= @body_class %>" data-session-key="<%= @session_key %>">
<%- else -%>
  <body class="right <%= @body_class %>">
<%- end -%>
<script type="text/javascript">
  // NOTE: this must be called after the <body> tag is created and before it is closed
  if (window.iframed_site_manager && window.iframed_site_manager.init) {
    window.iframed_site_manager.init();
  }
</script>
<div id="container" class="<%= content_for :container_css_classes %>">
  <div id="header">
    <div>
      <%= project_logo_tag %>
      <a href="http://concord.org/" title="The Concord Consortium"><%= image_tag "cc-logo.png", :alt => "The Concord Consortium", :id => "cc-logo" %></a>
      <!-- <nav>Home / Activities / Physics</nav> -->
    </div>
  </div>
  <div id="content" class="content">
    <nav><%= yield :nav %></nav>
    <%= yield :session %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div><!-- end #content -->
</div>
<div id="footer">
  <div>
    <p>Copyright © 2018 <a href="http://concord.org/" title="The Concord Consortium">The Concord Consortium</a>. All rights reserved. This activity is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution 3.0 Unported">Creative Commons Attribution 3.0 Unported License</a>. The software is licensed under <a href="http://opensource.org/licenses/BSD-2-Clause" title="Simplified BSD License">Simplified BSD</a>, <a href="http://opensource.org/licenses/MIT" title="MIT License">MIT</a> or <a href="http://opensource.org/licenses/Apache-2.0" title="Apache 2.0 License">Apache 2.0</a> licenses. Please provide attribution to the Concord Consortium and the URL <a href="http://concord.org" title="The Concord Consortium">http://concord.org</a>.
    </p>
    <p style="margin-top:10px" id="license">This Next-Generation Molecular Workbench activity was developed with a grant from <a href="http://www.google.org/" title="Google.org">Google.org</a>. The original <a href="http://mw.concord.org/" title="Classic Molecular Workbench">Classic Molecular Workbench</a> was supported by a series of grants from the <a href="http://nsf.gov/" title="National Science Foundation">National Science Foundation</a>.
    </p>
    <% unless params[:response_key] %>
      <p style="margin-top:10px">
        Need help?
        <a href="mailto:authoring-help@concord.org?subject=Authoring%20question">Send us an email</a>
      </p>
    <% end %>
    <p style="margin-top:10px">
      Version: <%= ENV['LARA_VERSION'] %>
    </p>
  </div>
</div>
<div id="overlay"></div>
<%= render :partial => 'shared/analytics' if Rails.env == 'production' && !request.host.match(/staging/) %>
<%= yield :extra_javascript %>
</body>
</html>
