<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>
  <!-- TODO: Populate meta tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <%- if false # @project and @project.og_logo         -%>
      <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}" %><%= image_path @project.og_logo %>"/>
  <%- else -%>
      <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}" %><%= image_path 'mw-logo-og.jpg' %>"/>
  <%- end -%>

  <!-- Icons -->
  <%= favicon_link_tag %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css' %>

  <!-- Scripts -->
  <%= render partial: 'shared/rollbar' %>
  <%= Gon::Base.render_data %>
  <!--[if IE 8 ]>
  <%= javascript_include_tag 'respond' %>
	<![endif]-->
  <%= javascript_include_tag 'modernizr.min' %>
  <!-- TODO: CDN or include? Lab is using 2.0.x but self-hosting. -->
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' %>
</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body class=<%= yield :body_class %>>

<div id="container">
  <%= render :partial => "shared/teacher_banner" %>

  <header>
    <div class="site-logo-mod site-width">
      <div class="site-logo logo-l">
        <%= left_logo_tag %>
      </div>
      <!-- end site-logo logo-l -->

      <div class="site-logo logo-r">
        <%= right_logo_tag %>
      </div>
      <!-- end site-logo logo-r -->
    </div>
    <!-- end site-logo-mod site-width -->
  </header>

  <div id="save" class="error" style="opacity: 1.0">
    <%= t("DATA_WILL_NOT_BE_SAVED") %>
  </div>

  <div id="main" role="main">

    <div class="activity-mod">
      <!-- Add class of fixed to activity-nav-mod for fixed nav -->
      <!-- TODO: How to control that? -->
      <% unless @hide_navigation %>
        <div class="activity-nav-mod header-nav">

          <%= render :partial => 'shared/activity_nav' %>

        </div>
      <% end %>
      <!-- end activity-nav-mod -->

      <div class="site-width">
        <%= yield %>
      </div>
      <!-- end site-width -->
    </div>
    <!-- end activity-mod -->

    <div class="activity-footer-mod site-width">
    </div>
    <!-- end activity-footer-mod -->

  </div>
  <!-- end #main -->

  <footer>
    <div class="site-width">
      <%= raw project_footer %>
    </div>
    <!-- end site-width -->
  </footer>

</div>
<!-- eo #container -->
<%= render :partial => "shared/i18njs" %>
<%= render :partial => 'shared/loading' %>
<%= render :partial => 'shared/analytics' %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Scripts					-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<script>// window.jQuery || document.write('<script src="/assets/jquery-2.0.1.min.js"><\/script>')</script>

<!-- Project-Specific stuff, start with up-base and go into script.js for your code -->
<%= javascript_include_tag 'runtime' %>
<!-- end scripts-->

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
   chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js' %>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

<%= yield :extra_javascript %>
<%= yield :external_scripts %>
</body>
</html>
