  <!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= yield :title %></title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,500,700' rel='stylesheet' type='text/css'>
	<!-- TODO: Populate meta tags -->
  <meta name="description" content="">
	<meta name="author" content="">
  <%- if false # @project and @project.og_logo -%>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}" %><%= image_path @project.og_logo %>" />
  <%- else -%>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}" %><%= image_path 'mw-logo-og.jpg' %>" />
  <%- end -%>

	<!-- Icons -->
  <%= favicon_link_tag %>

	<!-- Stylesheets -->
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css' %>

	<!-- Scripts -->
  <%= render partial: 'shared/rollbar' %>
  <%= Gon::Base.render_data %>
	<!--[if IE 8 ]>
  <%= javascript_include_tag 'respond' %>
	<![endif]-->
  <!-- TODO: For production, we should be making a custom build of Modernizr instead of using a dev version from CDN: http://modernizr.com/news/modernizr-and-cdns/ -->
  <%#= DONE ★  javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' %>

  <!-- TODO: CDN or include? Lab is using 2.0.x but self-hosting. -->
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' %>
</head>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body>
	<div id="container">
    <%= render :partial => "shared/teacher_banner" %>
		<header>
			<div class="site-logo-mod site-width">
				<div class="site-logo logo-l">
					<h2>
            <%= left_logo_tag %>
					</h2>
				</div> <!-- end site-logo logo-l -->

				<div class="site-logo logo-r">
					<h2>
            <%= right_logo_tag %>
					</h2>
				</div> <!-- end site-logo logo-r -->

			</div> <!-- end site-logo-mod site-width -->

		</header>

    <div id="main" role="main">
      <div class="site-width">
        <%= yield %>
      </div>
    </div>


		  <footer class="sequence_run">
        <div class="site-width">
        <%- if !@project || @project.footer.blank? -%>
  				<p class="footer-txt">Copyright © <%= Date.today.year %> <a href="https://concord.org/" title="The Concord Consortium">The Concord Consortium</a>. All rights reserved. This material is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>. The software is licensed under <a href="http://opensource.org/licenses/BSD-2-Clause">Simplified BSD</a>, <a href="http://opensource.org/licenses/MIT">MIT</a> or <a href="http://opensource.org/licenses/Apache-2.0">Apache 2.0</a> licenses. Please provide attribution to the Concord Consortium and the URL <a href="https://concord.org">https://concord.org</a>.</p>
        <%- else -%>
          <%= raw @project.footer %>
        <%- end -%>
      </div> <!-- end site-width -->
    </footer>



	</div> <!-- eo #container -->



  <%= render :partial => 'shared/analytics' if Rails.env == 'production' && !request.host.match(/staging/) %>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Scripts					-->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<script>// window.jQuery || document.write('<script src="/assets/jquery-2.0.1.min.js"><\/script>')</script>

	<!-- Project-Specific stuff, start with up-base and go into script.js for your code -->
  <%= javascript_include_tag 'runtime' %>
	<!-- end scripts-->

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js' %>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
  <%= yield :extra_javascript %>
</body>
</html>
