<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= yield :title %></title>
	<!-- TODO: Populate meta tags -->
  <meta name="description" content="">
	<meta name="author" content="">

	<!-- Icons -->
  <%= favicon_link_tag %>

	<!-- Stylesheets -->
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css' %>
  <%= stylesheet_link_tag 'runtime', :media => 'all' %>

	<!-- Scripts -->
	<!--[if IE 8 ]>
  <%= javascript_include_tag 'respond' %>
	<![endif]-->
  <!-- TODO: For production, we should be making a custom build of Modernizr instead of using a dev version from CDN: http://modernizr.com/news/modernizr-and-cdns/ -->
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' %>

</head>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body>

	<div id="container">

		<header>
			<div class="site-logo-mod site-width">
				<div class="site-logo logo-l">
					<h2>
            <!-- TODO: This is probably going to be set per-activity, so make it dynamic with a default -->
            <%= link_to image_tag("mw-logo.png", :alt => "Molecular Workbench", :id => 'mw-logo'), 'http://mw.concord.org/nextgen', :title => 'Molecular Workbench' %>
					</h2>
				</div> <!-- end site-logo logo-l -->

				<div class="site-logo logo-r">
					<h2>
            <%= link_to image_tag("cc-logo.png", :alt => "The Concord Consortium", :id => "cc-logo"), "http://concord.org/", :title => "The Concord Consortium" %>
					</h2>
				</div> <!-- end site-logo logo-r -->

			</div> <!-- end site-logo-mod site-width -->

		</header>

		<div id="save" style="opacity: 0;">
			Saving ...
		</div>

		<div id="main" role="main">

			<div class="activity-mod">

        <!-- Add class of fixed to activity-nav-mod for fixed nav -->
        <!-- TODO: How to control that? -->
				<div class="activity-nav-mod">

					<div class="l-nav site-width">
						<%= render :partial => 'interactive_pages/activity_nav' %>
					</div><!-- end l-nav site-width -->

				</div> <!-- end activity-nav-mod -->



				<div class="site-width">

          <%= yield %>

				</div> <!-- end site-width -->

			</div> <!-- end activity-mod -->



			<div class="activity-footer-mod site-width">


			</div> <!-- end activity-footer-mod -->



		</div> <!-- end #main -->



		<footer>
			<div class="site-width">
				<p class="footer-txt">Copyright © 2013 <a href="http://concord.org/">The Concord Consortium</a>. All rights reserved. This activity is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. The software is licensed under <a href="http://opensource.org/licenses/BSD-2-Clause">Simplified BSD</a>, <a href="http://opensource.org/licenses/MIT">MIT</a> or <a href="http://opensource.org/licenses/Apache-2.0">Apache 2.0</a> licenses. Please provide attribution to the Concord Consortium and the URL <a href="http://concord.org">http://concord.org</a>.</p>

				<p class="footer-txt">This Next-Generation Molecular Workbench activity was developed with a grant from <a href="http://www.google.org/">Google.org</a>. The original <a href="http://mw.concord.org/modeler/">Classic Molecular Workbench</a> was supported by a series of grants from the <a href="http://nsf.gov/">National Science Foundation</a>.</p>


			</div> <!-- end site-width -->
		</footer>

	</div> <!-- eo #container -->
  <%= render :partial => 'shared/modal' %>
  <%= render :partial => 'shared/analytics' if Rails.env == 'production' && !request.host.match(/staging/) %>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Scripts					-->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- TODO: CDN or include? Lab is using 1.8.3 but self-hosting. -->
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' %>
	<script>// window.jQuery || document.write('<script src="/assets/jquery-2.0.1.min.js"><\/script>')</script>

	<!-- Project-Specific stuff, start with up-base and go into script.js for your code -->
  <%= javascript_include_tag 'runtime' %>

	<!-- end scripts-->

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js' %>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>