<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%- if @run_key -%>
  <body class="right <%= request.original_fullpath.split('/').join(' ') %>" data-session-key="<%= @run_key %>">
<%- else -%>
  <body class="right <%= request.original_fullpath.split('/').join(' ') %>">
<%- end -%>
<div id="container">
  <div id="header">
    <div>
      <%= project_logo_tag %>
      <a href="https://concord.org/" title="The Concord Consortium"><%= image_tag "cc-logo.png", :alt => "The Concord Consortium", :id => "cc-logo" %></a>
      <!-- <nav>Home / Activities / Physics</nav> -->
    </div>
  </div>
  <div id="wide_content" class="wide_content">
    <%- if notice -%>
      <p class="notice"><%= notice %></p>
    <%- end -%>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div><!-- end #content -->
</div>
<div id="footer">
  <div>
    <p>Copyright © <%= Date.today.year %> <a href="https://concord.org/" title="The Concord Consortium">The Concord Consortium</a>. All rights reserved. This material is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 License">Creative Commons Attribution 4.0 License</a>. The software is licensed under <a href="http://opensource.org/licenses/BSD-2-Clause" title="Simplified BSD License">Simplified BSD</a>, <a href="http://opensource.org/licenses/MIT" title="MIT License">MIT</a> or <a href="http://opensource.org/licenses/Apache-2.0" title="Apache 2.0 License">Apache 2.0</a> licenses. Please provide attribution to the Concord Consortium and the URL <a href="http://concord.org" title="The Concord Consortium">https://concord.org</a>.
    </p>
    <% unless params[:run_key] %>
      <p style="margin-top:10px">
        Need help?
        <a href="mailto:authoring-help@concord.org?subject=Authoring%20question">Send us an email</a>
      </p>
    <% end %>
  </div>
</div>
<div id="overlay"></div>
<%= render :partial => 'shared/analytics' if Rails.env == 'production' && !request.host.match(/staging/) %>
<%= yield :extra_javascript %>
</body>
</html>
