#menu
  #activities
    %h2 Activities in Sequence
    %ul.sortable-list#sort-activities
      - @sequence.lightweight_activities_sequences.each do |las|
        - activity = las.lightweight_activity
        %li{ :id => dom_id_for(las, :item), :class => 'item' }
          = truncate(activity.name_with_id, :length => 25, :omission => "…")
          %ul.menu
            %li.edit= link_to "Edit", edit_activity_path(activity) if can? :update, activity
            %li.run= link_to "Preview", preview_sequence_activity_path(activity, sequence_id: @sequence.id)
            %li.delete
              = form_tag remove_activity_sequence_path(@sequence) do
                = hidden_field_tag :activity_id, activity.id
                = submit_tag "Remove"
            %li.drag_handle
              &nbsp;
    - if @activities
      = form_tag add_activity_sequence_path(@sequence) do
        = select_tag :activity_id, options_from_collection_for_select(@activities, :id, :name_with_id), class: "chosen-select"
        = submit_tag "Add", :class => "btn-primary"
