= form_for(@sequence) do |f|
  - if @sequence.errors.any?
    #error_explanation
      %h2
        = pluralize(@sequence.errors.count, "error")
        prohibited this sequence from being saved:
      %ul
        - @sequence.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field :user_id, current_user.id
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :logo
    %br
    = f.text_field :logo
  .field
    = f.label :theme_id, "Theme"
    %br
    = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @sequence.theme_id), { :include_blank => "None (inherit from project, or site default)" }
  .field
    = f.label :project_id, "Project"
    %br
    = f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'title', @sequence.project_id), { :include_blank => true }
  .field
    = f.label :description
    %br
    = f.text_area :description, { :class => 'wysiwyg-text', :cols => 80, :rows => 10 }
  .actions
    = f.submit
