- sequence_published = @sequence.latest_publication_portals.length > 0 ? true : false

.sequence_form
  = form_for(@sequence) do |f|
    - if @sequence.errors.any?
      #error_explanation
        %h2
          = pluralize(@sequence.errors.count, "error")
          prohibited this sequence from being saved:
        %ul
          - @sequence.errors.full_messages.each do |msg|
            %li= msg

    = hidden_field :user_id, current_user.id
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :display_title
      = f.text_field :display_title
    .field
      = f.label :logo
      = f.text_field :logo
    .field
      = f.label :thumbnail_url, "Thumbnail URL"
      = f.text_field :thumbnail_url, :class => "thumbnail_source"
      %br
      .thumbnail_info.hint
        Your thumbnail image should be 300px x 250px
        %a#toggle_thumbnail_preview
          [preview]
        .activity_thumbnail#thumbnail_preview
          %img
    .field
      = f.label :theme_id, "Theme"
      = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @sequence.theme_id), { :include_blank => "None (inherit from project, or site default)" }
    .field
      = f.label :project_id, "Project"
      = f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'title', @sequence.project_id), { :include_blank => true }
    .field
      = f.label :publication_status, "Publication status"
      = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES_OPTIONS, @sequence.publication_status)
    .field{:class => ("disabled" if sequence_published)}
      = f.label :activity_player_only, "Activity Player only?"
      = f.check_box :activity_player_only, :disabled => sequence_published
      .hint (If this box is checked, the activity will run in the Activity Player by default.)
    .field
      = f.label :is_official, "Offical CC Sequence"
      = f.check_box :is_official

    .field
      = f.label :description, "Text for index page"
      %br
      = f.text_area :description, { :class => 'wysiwyg', :cols => 60, :rows => 10 }
    .field
      = f.label :abstract, "Abstract [DEPRECATED] Works only with old Portals"
      %br
      = f.text_area :abstract, { :class => 'wysiwyg', :cols => 60, :rows => 10 }
    .actions
      = f.submit
