.sequence_form
  = form_for(@sequence) do |f|
    - if @sequence.errors.any?
      #error_explanation
        %h2
          = pluralize(@sequence.errors.count, "error")
          prohibited this sequence from being saved:
        %ul
          - @sequence.errors.full_messages.each do |msg|
            %li= msg

    = hidden_field :user_id, current_user.id
    %header
      %h2 Sequence Settings
      .submit
        = f.submit "Save", :id => 'save-top', :class => 'btn-primary'
    .field
      = f.label :title
      = f.text_field :title, :id => "sequence_title"
    - if current_user.is_admin
      .field
        = f.label :defunct,  "Defunct"
        = f.check_box :defunct
        .hint (Check this box if the sequence uses features not supported by Activity Player.)
    .field
      = f.label :display_title, "Display Title"
      = f.text_field :display_title, :id => "sequence_display_title"
    .field{:class => ("disabled" if @sequence.latest_publication_portals.length > 0)}
      = f.label :runtime, "Runtime Environment"
      = f.select :runtime, options_for_select(Sequence::RUNTIME_OPTIONS, @sequence.runtime), :disabled => @sequence.latest_publication_portals.length > 0
      .hint Once the sequence is published, you can't change this setting.
    .field{:class => ("disabled" if @sequence.runtime != 'Activity Player')}
      = f.label :fixed_width_layout, 'Fixed Width Layout'
      = f.select :fixed_width_layout, options_for_select(LightweightActivity::FIXED_WIDTH_LAYOUT_OPTIONS, @sequence.fixed_width_layout)
    .field{:class => ("disabled" if @sequence.runtime != 'Activity Player')}
      = f.label :background_image, 'Activity Player Background Image URL'
      = f.text_field :background_image, :id => "sequence_background_image"
      .hint Specify the full URL of a background image file.
    .field{:class => ("disabled" if @sequence.runtime != 'LARA')}
      = f.label :theme_id, "Theme"
      = f.select :theme_id, options_from_collection_for_select(Theme.all, 'id', 'name', @sequence.theme_id), { :include_blank => "None (inherit from project, or site default)" }
    .field
      = f.label :project_id, "Project"
      = f.select :project_id, options_from_collection_for_select(Project.all, 'id', 'title', @sequence.project_id), { :include_blank => true }
    .field
      = f.label :logo
      = f.text_field :logo
    - if current_user.is_admin
      .field
        = f.check_box :is_official
        = f.label :is_official, "Offical CC Sequence"
        .hint Official activities appear in the STEM Resource Finder and should be vetted before being designated as such.
    .field
      = f.label :publication_status, "Publication Status"
      = f.select :publication_status, options_for_select(LightweightActivity::PUB_STATUSES_OPTIONS, @sequence.publication_status)
    .field
      = f.label :description, "Index Page Text"
      = f.text_area :description, { :class => 'wysiwyg', :cols => 60, :rows => 10 }
    .field
      = f.label :thumbnail_url, "Preview Image URL"
      = f.text_field :thumbnail_url, :class => "thumbnail_source", :id => "sequence_thumbnail_source"
      .thumbnail_info.hint
        Preview image should be 1460 pixels wide by 800 pixels high.
        %a#toggle_thumbnail_preview
          [preview]
        .activity_thumbnail#thumbnail_preview
          %img
    .field
      = f.label :abstract, "Abstract [DEPRECATED] Works only with old Portals"
      = f.text_area :abstract, { :class => 'wysiwyg', :cols => 60, :rows => 10 }
    %footer
      .submit
        = f.submit "Save", :class => "btn-primary"
