= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@sequence.title}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Sequences', sequences_path
      %li
        != "/ #{@sequence.title}"

%h1.title 
  %span.title
    Edit sequence
  - if ENV['ACTIVITY_PLAYER_URL'].present?
    %span.preview
      = link_to "Preview in Activity Player", activity_player_sequence_url(@sequence), :target => 'new'

= render :partial => "publications/publication_details", :locals =>{ :publication => @sequence}

#leftcol
  = render 'form'

  = link_to 'Show', @sequence
  |
  = link_to 'Back', sequences_path

#rightcol
  = render :partial => 'activity_list'


