= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@sequence.title}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li
        \/
        = link_to 'All Sequences', sequences_path
      %li
        != "/ #{@sequence.title}"

%h1.title 
  %span.title
    Edit sequence
  #preview-menu
    %label{for: "preview-options-select"}
      %strong
        Preview in:
    = select_tag :preview_options_select, options_for_select(sequence_preview_options(@sequence)), {id: 'preview-options-select'}

= render :partial => "publications/publication_details", :locals =>{ :publication => @sequence}

#leftcol
  = render 'form'

  = link_to 'Show', @sequence
  |
  = link_to 'Back', sequences_path

#rightcol
  = render :partial => 'activity_list'


