= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@sequence.title}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to 'All Sequences', sequences_path
      %li
        != "/ #{@sequence.title}"


%h1 Editing sequence

= render 'form'

/ Add activity
= form_tag add_activity_sequence_path(@sequence) do
  = select_tag :activity_id, options_from_collection_for_select(@activities, :id, :name)
  = submit_tag "Add"

/ List activities
%ul.activities
  - @sequence.activities.each do |activity|
    %li
      = link_to activity.name, activity_path(activity)
      = form_tag remove_activity_sequence_path(@sequence) do
        = hidden_field_tag :activity_id, activity.id
        = submit_tag "Remove"

= link_to 'Show', @sequence
|
= link_to 'Back', sequences_path
