= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  = "Edit #{@sequence.title}"
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to 'All Sequences', sequences_path
      %li
        != "/ #{@sequence.title}"


%h1 Editing sequence

#leftcol
  = render 'form'

  = link_to 'Show', @sequence
  |
  = link_to 'Back', sequences_path

#rightcol
  %h2.activity-list Activities

  #menu
    - if @activities
      = form_tag add_activity_sequence_path(@sequence) do
        = select_tag :activity_id, options_from_collection_for_select(@activities, :id, :name)
        = submit_tag "Add"

    #activities
      %ul#sort-activities.ui-sortable
        - @sequence.activities.each do |activity|
          %li{ :id => dom_id_for(activity, :item), :class => 'item' }
            = link_to truncate(activity.name, :length => 40, :omission => "…"), activity_path(activity)
            %ul.menu
              %li.delete
                = form_tag remove_activity_sequence_path(@sequence) do
                  = hidden_field_tag :activity_id, activity.id
                  = submit_tag "Remove"
              %li.drag_handle
                &nbsp;

