= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Sequences
= content_for :nav do
  .breadcrumbs
    %ul
      %li= link_to "Home", root_path
      %li / All Sequences


%ul#new-menu
  %li#desc-toggle= toggle_all 'sequence descriptions'
  %li#collection_filter= collection_filter_tag @filter
.buttons-menu
  - if can? :create, Sequence
    %a{ :href => new_sequence_path }
      %button=t("NEW_SEQUENCE_BUTTON")
  - if can? :import, [LightweightActivity, Sequence, Glossary]
    %a{ :href => import_status_path, 'data-remote'=>"true" }
      %button=t("IMPORT")

#official_listing_heading.pagination_heading
  %h1 Activity Sequences:
  = page_entries_info @sequences, :model => "Sequences"
  = t(:COLLECTION_SORT_ORDER)
  .pagination_info
    = will_paginate @sequences
  %ul.quiet_list.official_listing
    - @sequences.each do |sequence|
      = render :partial => "index_item", :locals => {:sequence => sequence}
  .pagination_info
    = will_paginate @sequences