<h1>Listing sequences</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequences.each do |sequence| %>
  <tr>
    <td><%= sequence.title %></td>
    <td><%= sequence.description %></td>
    <td><%= link_to 'Show', sequence %></td>
    <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
    <td><%= link_to 'Destroy', sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sequence', new_sequence_path %>
