= content_for :title do
  = @sequence.title

%p#notice= notice

.sequence_info
  %h1.title= @sequence.title

  .description
    = @sequence.description.html_safe

.estimated-time
  Estimated Time to Complete This Module:
  = @sequence.time_to_complete
  minutes

.activities
  - @sequence.lightweight_activities_sequences.each do |las|
    - activity = las.lightweight_activity
    .activity
      .position
        = las.position.to_s
      .title
        - if @sequence_run
          - run = @sequence_run.run_for_activity(activity)
          - activity_url = activity_with_response_path(activity.id, run.key)
        - else
          - activity_url = sequence_activity_path(@sequence, activity)
        = link_to activity.name, activity_url
      .thumbnail
        = link_to image_tag(activity.thumbnail_url), sequence_activity_path(@sequence, activity) unless activity.thumbnail_url.blank?

= link_to 'Edit', edit_sequence_path(@sequence) if can? :update, @sequence
