= content_for :title do
  = @sequence.title

%p#notice= notice

.sequence-page
  - unless @sequence.description.blank?
    .sequence_info
      .description
        = @sequence.description.html_safe

  .estimated-time
    %i.fa.fa-clock-o.fa-2x
    = time_to_complete(@sequence.time_to_complete)

  .activities
    - @sequence.lightweight_activities_sequences.each do |las|
      - activity = las.lightweight_activity
      .activity-bg
        .activity
          %span.position
            = las.position.to_s
          %span.title
            = link_to activity.name, sequence_activity_path(@sequence, activity)
          .thumbnail
            = link_to image_tag(activity.thumbnail_url), sequence_activity_path(@sequence, activity) unless activity.thumbnail_url.blank?

    = link_to 'Edit', edit_sequence_path(@sequence) if can? :update, @sequence
