<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sequence.title %>
</p>

<p>
  <b>Description:</b>
  <%= @sequence.description %>
</p>


<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
