.embeddable_tools
  .drag_handle
  = render :partial => "shared/embedded_editor_links", :locals => { :embeddable => embeddable, :page => page, :type => 'managed_int', :allow_hide => allow_hide, :disallow_edit => true }
.embeddable_options
  Managed interactive
  .model-edit
    .interactive-content
      %div{:id => "authorable-interactive-#{embeddable.id}"}
= render :partial => "shared/embedded_editor_wrapper_plugins", :locals => { :embeddable => embeddable }

:javascript
  (function() {
    var props = {
      interactive: #{embeddable.to_interactive_json},
      interactiveType: "managed_interactive",
      updateUrl: "#{page_managed_interactive_path(page, embeddable)}"
    };
    if (props.interactive.url) {
      InteractiveAuthoring = React.createElement(modulejs.require('components/authoring/mw_interactive'), props);
      ReactDOM.render(InteractiveAuthoring, $("#authorable-interactive-#{embeddable.id}")[0]);
    }
  }());
